# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# Pycharms
.idea/
*.iml

# VS Code
.vscode/

# Operating system specific
.DS_Store  # For Mac OS
Thumbs.db  # For Windows

# local env files
*.env

# External libraries
elasticsearch-8.11.10*

# Ibe's venv you can ignore this
gigl/