astroid==2.15.6
attrs==23.1.0
blinker==1.6.2
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.3.1
click==8.1.7
colorama==0.4.6
coverage==7.3.1
dill==0.3.7
dnspython==2.4.2
eventlet==0.33.3
exceptiongroup==1.1.3
falcon==3.1.1
Flask==2.3.3
greenlet==3.0.1
gunicorn==21.2.0
h11==0.14.0
idna==3.4
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
lazy-object-proxy==1.9.0
MarkupSafe==2.1.3
mccabe==0.7.0
mongoengine==0.27.0
outcome==1.2.0
packaging==23.2
platformdirs==3.10.0
psycopg2==2.9.9
pycparser==2.21
pylint==2.17.5
pymongo==4.5.0
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
PySocks==1.7.1
python-dotenv==1.0.0
requests==2.31.0
selenium==4.12.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
tomli==2.0.1
tomlkit==0.12.1
trio==0.22.2
trio-websocket==0.10.4
typing_extensions==4.7.1
urllib3==2.0.4
Werkzeug==2.3.7
wrapt==1.15.0
wsproto==1.2.0
