<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--will scale to diff browser sizes-->
  <title>Gigl</title> <!--title on browser window-->
  <!-- Including the styles from index.css -->
</head>

<body>
  {% include 'header.html' %} <!--JINJA2 template for the header-->
  <h1> {{ err }}</h1>
  <br>
  <a href="/index" class="btn">Return Home</a>
  <br>
  <a href="{{ url_for('details', id=gigID ) }}" class="btn">View Gig Again</a>
</body>

</html>