<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--will scale to diff browser sizes-->
    <title>gigl</title> <!--title on browser window-->
    <!-- Including the styles from index.css -->
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
    <style>
        section {
            margin: 0 auto;
            width: 80%;
            padding: 1em;
        }
        #cancelButton {
            margin-left: 10px;
        }
        .status-YES {
    background-color: rgba(212, 237, 218, 0.5); /* Lighter and more transparent green */
}

.status-NO {
    background-color: rgba(248, 215, 218, 0.5); /* Lighter and more transparent red */
}

.status-UNDECIDED { /* This is the default color */ 
}
    </style>
</head>

<body>
    {% include 'header.html' %} <!--JINJA2 template for the header-->
    <main>
        <br>
        <section class="w-full md:w-1/2 rounded-lg bg-gray-100 border border-gray-200">
            <div class="flex justify-between">
                <h2 class="text-2xl font-bold break-all">{{gigTitle}}</h2>
                <p class="text-gray-600">{{gigPostedDate}}</p>
            </div>

            <div>
                <h3>Posted By: {{gigPoster}}</h3>
            </div>
            <br>
            <div>
                {% if gigCategory == 'teaching' %}
                Gig Category: <span
                    class="p-2 text-xs font-medium uppercase tracking-wider text-blue-800 bg-blue-200 rounded-lg bg-opacity-50">
                    Teaching
                </span>
                {% elif gigCategory == 'research' %}
                Gig Category: <span
                    class="p-2 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50">
                    Research
                </span>
                {% elif gigCategory == 'technical' %}
                Gig Category: <span
                    class="p-2 text-xs font-medium uppercase tracking-wider text-yellow-800 bg-yellow-200 rounded-lg bg-opacity-50">
                    Technical
                </span>
                {% elif gigCategory == 'writing' %}
                Gig Category: <span
                    class="p-2 text-xs font-medium uppercase tracking-wider text-red-800 bg-red-200 rounded-lg bg-opacity-50">
                    Writing
                </span>
                {% elif gigCategory == 'graphic_design' %}
                Gig Category: <span
                    class="p-2 text-xs font-medium uppercase tracking-wider text-purple-800 bg-purple-200 rounded-lg bg-opacity-50">
                    Graphic Design
                </span>
                {% elif gigCategory == 'photography_film' %}
                Gig Category: <span
                    class="p-2 text-xs font-medium uppercase tracking-wider text-pink-800 bg-pink-200 rounded-lg bg-opacity-50">
                    Photography/Film
                </span>
                {% elif gigCategory == 'events' %}
                Gig Category: <span
                    class="p-2 text-xs font-medium uppercase tracking-wider text-indigo-800 bg-indigo-200 rounded-lg bg-opacity-50">
                    Events
                </span>
                {% elif gigCategory == 'marketing' %}
                Gig Category: <span
                    class="p-2 text-xs font-medium uppercase tracking-wider text-gray-800 bg-gray-200 rounded-lg bg-opacity-50">
                    Marketing
                </span>
                {% elif gigCategory == 'administrative' %}
                Gig Category: <span
                    class="p-2 text-xs font-medium uppercase tracking-wider text-blue-800 bg-blue-200 rounded-lg bg-opacity-50">
                    Administrative
                </span>
                {% elif gigCategory == 'volunteer' %}
                Gig Category: <span
                    class="p-2 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50">
                    Volunteer
                </span>
                {% elif gigCategory == 'fitness' %}
                Gig Category: <span
                    class="p-2 text-xs font-medium uppercase tracking-wider text-yellow-800 bg-yellow-200 rounded-lg bg-opacity-50">
                    Fitness
                </span>
                {% elif gigCategory == 'other' %}
                Gig Category: <span
                    class="p-2 text-xs font-medium uppercase tracking-wider text-red-800 bg-red-200 rounded-lg bg-opacity-50">
                    Other
                </span>
                {% endif %}
            </div>
            <div>
                <h3>Gig Start Date: {{gigStartDate}}</h3>
            </div>
            <div>
                <h3>Gig End Date: {{gigEndDate}}</h3>
            </div>
            <br>
            <div>
                <h3>Description</h3>
                <p class="break-all">{{gigDescription}}</p>
            </div>
            <br>
            <hr>
            <br>
            <div>
                <h3>Qualifications</h3>
                <p class="break-all">{{gigQualifications}}</p>
            </div>
        </section>
        <br>
        {% if is_owner: %}
        <section class="w-full md:w-1/2 rounded-lg bg-gray-100 border border-gray-200">
            <div>
                <h2 class="text-2xl font-bold">Applicants</h2>
            </div>
            <div class="rounded-lg">
                <table class="w-full">
                    <thead>
                        <tr>
                            <th class="w-40 p-3 font-semibold tracking-wide text-left">Applicant Name</th>
                            <th class="w-auto p-3 font-semibold tracking-wide text-left">Message</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                        {% for app in all_apps %}
{% set nid = app.get_applicant_netid() %}
{% set status = app.get_status() %}
<tr class="{{ 'status-YES' if status == 'YES' else 'status-NO' if status == 'NO' else 'status-UNDECIDED' }}" id="{{ nid }}-row">
    <td scope="row" class="p-3 whitespace-nowrap">
        {{ get_usr(nid).get_name() }}
        <div class="text-gray-500">
            {{ nid }}@princeton.edu
        </div>
    </td>
    <td scope="row" class="p-3 whitespace-nowrap break-all">{{ app.get_message() }}</td>
    <td>
        <form class ="stat_forms" id="{{ nid }}-StatusForm" method="post">
            {{ setstatusforms[nid].hidden_tag() }}
            {{ setstatusforms[nid].gigID() }}
            {{ setstatusforms[nid].applicantID() }}
            {{ setstatusforms[nid].status(class="p-2 w-auto rounded-lg") }}
        </form>
    </td>
</tr>
{% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
        <section class="w-full md:w-1/2 rounded-lg ">
            <form align="center" method="post" class="deleteGigForm" id="deleteForm">
                {{ delete_form.hidden_tag() }} <!-- CSRF token -->
                {% if show_confirm %}
                <p> Are you sure? </p>
                {{ delete_form.confirm(class="p-2 w-auto rounded-lg bg-green-200") }}
                {{ delete_form.cancel(class="p-2 w-auto rounded-lg bg-red-200") }}
                {% else %}
                {{ delete_form.delete(class="p-2 w-auto rounded-lg bg-red-200") }}
                {% endif %}
            </form>
        </section>

        {% elif isAdmin: %}
        <section class="w-full md:w-1/2 rounded-lg ">
            <form align="center" method="post" class="deleteGigForm" id="adminDeleteForm">
                {{ delete_form.hidden_tag() }} <!-- CSRF token -->
                {% if show_confirm %}
                <p> Are you sure? </p>
                {{ delete_form.confirm(class="p-2 w-auto rounded-lg bg-green-200") }}
                {{ delete_form.cancel(class="p-2 w-auto rounded-lg bg-red-200") }}
                {% else %}
                {{ delete_form.delete(class="p-2 w-auto rounded-lg bg-red-200") }}
                {% endif %}
            </form>
        </section>

        {% elif application is none %}
        <section class="w-full md:w-1/2">
            <form action="" method="post" id="applyFormID" novalidate>
                {{ apply_form.hidden_tag() }} <!-- the CSRF token -->
                <div class="flex space-x-10">
                    {{ apply_form.message(class_="border border-gray-600 p-2 w-full rounded-lg focus:outline-none
                    focus:border-teal-500", rows=2, id="message", maxlength="1500", placeholder="Describe your qualifications, availability, and any relevant info. You will be contacted if there is a match. ") }}
                    {{ apply_form.submit(class_="p-2 w-auto rounded-lg bg-purple-200") }}
                </div>
            </form>
            {% for error in apply_form.message.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </section>
        {% else %}
        <section class="w-full md:w-1/2 rounded-lg bg-gray-100 border border-gray-200">
            <div>
                <h3 class="text-xl font-bold">You already applied to this gig!</h3>
            </div>

            <div>
                Your response: <div scope="row" class="break-all p3 whitespace-nowrap">{{
                    application.get_message() }}
                </div>
            </div>
        </section>
        {% endif %}

    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        'use strict';
        function updateStatus(e, netid, status) {
            e.preventDefault();

            let requestData = {
                type: 'POST',
                url: '/update_status',
                data: $(`#${netid}-StatusForm`).serialize(),
                success: function (response) {
                    if(response.status){
                        $(`#${netid}-row`).removeClass('status-YES status-NO status-UNDECIDED');
                        $(`#${netid}-row`).addClass(`status-${status}`);
                        $(`#${netid}-StatusForm`).find(':input').prop('disabled', false);
                    }
                    else {
                        $(`#${netid}-StatusForm`).find(':input').prop('disabled', false);
                        if ($(`#${netid}-row`).hasClass('status-YES'))
                            $(`#${netid}-StatusForm [name="status"]`).val('YES');
                        else if ($(`#${netid}-row`).hasClass('status-NO'))
                            $(`#${netid}-StatusForm [name="status"]`).val('NO');
                        else
                            $(`#${netid}-StatusForm [name="status"]`).val('UNDECIDED');
                        alert('WOOPS');
                    }
                },
                error: function (response) {
                    $(`#${netid}-StatusForm`).find(':input').prop('disabled', false);
                    if ($(`#${netid}-row`).hasClass('status-YES'))
                        $(`#${netid}-StatusForm [name="status"]`).val('YES');
                    else if ($(`#${netid}-row`).hasClass('status-NO'))
                        $(`#${netid}-StatusForm [name="status"]`).val('NO');
                    else
                        $(`#${netid}-StatusForm [name="status"]`).val('UNDECIDED');
                    alert('Error updating status. Please try again.');
                }
            };
            $(`#${netid}-StatusForm`).find(':input').prop('disabled', true);
            $.ajax(requestData);
        }

        function toggleFormButtons(formId, showConfirm) {
            let form = $('#' + formId);

            if (showConfirm) {
                // Show confirm and cancel buttons
                form.html('{{ delete_form.hidden_tag() }}' +
                    '<p>Are you sure?</p>' +
                    '{{ delete_form.confirm(class="p-2 w-auto rounded-lg bg-green-200") }}' +
                    '{{ delete_form.cancel(class="p-2 w-auto rounded-lg bg-red-200") }}');
            } else {
                // Show delete button
                form.html('{{ delete_form.hidden_tag() }}' +
                    '{{ delete_form.delete(class="p-2 w-auto rounded-lg bg-red-200") }}');
            }
        }

        $(document).ready(function () {
            $('#applyFormID').submit(function (e) {
                $('#applyFormID').find(':submit').prop('disabled', true);
            });

            $('.deleteGigForm').submit(function (e) {
                if ($('input[type=submit][clicked=true]').val() === 'Delete') {
                    console.log('delete button clicked')
                    e.preventDefault(); // Prevent form from submitting
                    // because there are two forms, one for owner one for admin
                    let formId = $(this).attr('id')
                    toggleFormButtons(formId, true)
                }
            });

            $(document).on('click', '#cancelButton', function () {
                console.log('cancel button clicked')
                let formId = $(this).closest('form').attr('id');
                toggleFormButtons(formId, false);

            });

            $('.stat_forms').on('change', function (e) {
                let netid = $(this).attr('id').split('-')[0];
                let status = $(this).find(':selected').val();
                updateStatus(e, netid, status);
            });

            $(document).on('click', 'input[type=submit]', function () {
                $('input[type=submit]', $(this).parents('form')).removeAttr('clicked');
                $(this).attr('clicked', 'true');
            });
        })

        window.onpageshow = function(event) {
        if (event.persisted) {
            window.location.reload();
        }
    };
    </script>
</body>

</html>