<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--will scale to diff browser sizes-->
    <title>gigl</title> <!--title on browser window-->
    <!-- Including the styles from index.css -->
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
    <style>
        section {
            margin: 0 auto;
            width: 80%;
            padding: 1em;
        }

        #cancelButton {
            margin-left: 10px;
        }

        .status-YES {
            background-color: rgba(212, 237, 218, 0.5);
            /* Lighter and more transparent green */
        }

        .status-NO {
            background-color: rgba(248, 215, 218, 0.5);
            /* Lighter and more transparent red */
        }

        .status-UNDECIDED {
            /* This is the default color */
        }

        .conditional-hyphens {
            overflow-wrap: break-word;
            word-break: break-word;
            -webkit-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
        }
    </style>
    <script>
        // Define a JavaScript variable for gigID
        var gigID = {{ gigID }};
    </script>
</head>

<body>
    {% include 'header.html' %} <!--JINJA2 template for the header-->
    <main>
        <br>
        <section id="gigEditSection" class="w-full md:w-1/2 rounded-lg bg-gray-100 border border-gray-200">
            <div>
                <div class="flex justify-between">
                    <h2 id="gigTitleDisplay" class="text-2xl font-bold conditional-hyphens">{{gigTitle}}</h2>
                    <div>
                        <p id="dateDisplay" class="text-gray-600">{{gigPostedDate}}</p>
                        {% if is_owner %}
                        <button id="gigEditButton" class="text-blue-600 bg-transparent w-full">
                            Edit Gig
                        </button>
                        {% endif %}
                    </div>
                </div>

                <div>
                    <h3 id="authorDisplay">Posted By: {{gigPoster}}</h3>
                </div>
                <div class="mb-4" id="gigCategoryDisplay">
                    {% if gigCategory == 'teaching' %}
                    Gig Category: <span id="gigCategoryDisplay"
                        class="p-2 text-xs font-medium uppercase tracking-wider text-blue-800 bg-blue-200 rounded-lg bg-opacity-50">
                        Teaching
                    </span>
                    {% elif gigCategory == 'research' %}
                    Gig Category: <span id="gigCategoryDisplay"
                        class="p-2 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50">
                        Research
                    </span>
                    {% elif gigCategory == 'technical' %}
                    Gig Category: <span id="gigCategoryDisplay"
                        class="p-2 text-xs font-medium uppercase tracking-wider text-yellow-800 bg-yellow-200 rounded-lg bg-opacity-50">
                        Technical
                    </span>
                    {% elif gigCategory == 'writing' %}
                    Gig Category: <span id="gigCategoryDisplay"
                        class="p-2 text-xs font-medium uppercase tracking-wider text-red-800 bg-red-200 rounded-lg bg-opacity-50">
                        Writing
                    </span>
                    {% elif gigCategory == 'graphic_design' %}
                    Gig Category: <span id="gigCategoryDisplay"
                        class="p-2 text-xs font-medium uppercase tracking-wider text-purple-800 bg-purple-200 rounded-lg bg-opacity-50">
                        Graphic Design
                    </span>
                    {% elif gigCategory == 'photography_film' %}
                    Gig Category: <span id="gigCategoryDisplay"
                        class="p-2 text-xs font-medium uppercase tracking-wider text-pink-800 bg-pink-200 rounded-lg bg-opacity-50">
                        Photography/Film
                    </span>
                    {% elif gigCategory == 'events' %}
                    Gig Category: <span id="gigCategoryDisplay"
                        class="p-2 text-xs font-medium uppercase tracking-wider text-indigo-800 bg-indigo-200 rounded-lg bg-opacity-50">
                        Events
                    </span>
                    {% elif gigCategory == 'marketing' %}
                    Gig Category: <span id="gigCategoryDisplay"
                        class="p-2 text-xs font-medium uppercase tracking-wider text-gray-800 bg-gray-200 rounded-lg bg-opacity-50">
                        Marketing
                    </span>
                    {% elif gigCategory == 'administrative' %}
                    Gig Category: <span id="gigCategoryDisplay"
                        class="p-2 text-xs font-medium uppercase tracking-wider text-blue-800 bg-blue-200 rounded-lg bg-opacity-50">
                        Administrative
                    </span>
                    {% elif gigCategory == 'volunteer' %}
                    Gig Category: <span id="gigCategoryDisplay"
                        class="p-2 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50">
                        Volunteer
                    </span>
                    {% elif gigCategory == 'fitness' %}
                    Gig Category: <span id="gigCategoryDisplay"
                        class="p-2 text-xs font-medium uppercase tracking-wider text-yellow-800 bg-yellow-200 rounded-lg bg-opacity-50">
                        Fitness
                    </span>
                    {% elif gigCategory == 'other' %}
                    Gig Category: <span id="gigCategoryDisplay"
                        class="p-2 text-xs font-medium uppercase tracking-wider text-red-800 bg-red-200 rounded-lg bg-opacity-50">
                        Other
                    </span>
                    {% endif %}
                </div>
                <div class="mb-4">
                    <h3 id="startDateTitleDisplay" class="font-bold">Gig Start Date:</h3>
                    <h3 id="startDateDisplay">{{gigStartDate}}</h3>
                </div>
                <div class="mb-4">
                    <h3 id="endDateTitleDisplay" class="font-bold">Gig End Date:</h3>
                    <h3 id="endDateDisplay">{{gigEndDate}}</h3>
                </div>
                <div class="mb-4">
                    <h3 id="gigDescriptionTitleDisplay" class="font-bold">Description</h3>
                    <p id="gigDescriptionDisplay" class="conditional-hyphens">{{gigDescription}}</p>
                </div>
                <div class="mb-4">
                    <h3 id="gigQualificationTitleDisplay" class="font-bold">Qualifications</h3>
                    <p id="gigQualificationDisplay" class="conditional-hyphens">{{gigQualifications}}</p>
                </div>
            </div>
            <form hidden id="gigEditForm" method="post">
                {{ gig_form.hidden_tag() }}
                <div class="flex justify-between">
                    {{ gig_form.title(id="gigTitleEdit", class="text-2xl font-bold border
                    border-blue-600
                    py-1 rounded-lg w-3/4")}}
                    {% for error in gig_form.title.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                    <div>
                        <p class="text-gray-600">{{gigPostedDate}}</p>
                        {% if is_owner %}
                        {{ gig_form.submit(class= "text-blue-600 bg-transparent
                        w-full")}}
                        {% endif %}
                    </div>
                </div>
                <div>
                    <h3>Posted By: {{gigPoster}}</h3>
                </div>
                <div class="mb-4">
                    Gig Category:{{ gig_form.categories(id="gigCategoryEdit", class="border border-blue-600 p-2 w-full
                    md:w-1/2
                    rounded-lg")}}
                </div>
                <div class="mb-4">
                    <h3 class="font-bold">Gig Start Date:</h3>
                    <h3>{{gigStartDate}}</h3>
                </div>
                <div class="mb-4">
                    <h3 class="font-bold">Gig End Date:</h3>
                    <h3>{{gigEndDate}}</h3>
                </div>
                <div class="mb-4">
                    <h3 class="font-bold">Description</h3>
                    {{ gig_form.description(id="gigDescriptionEdit", class="border border-blue-600
                    py-1 rounded-lg w-full")}}
                    {% for error in gig_form.description.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="mb-4">
                    <h3 class="font-bold">Qualifications</h3>
                    {{ gig_form.qualifications(id="gigQualificationEdit", class="border border-blue-600 py-1 rounded-lg
                    w-full")}}
                    {% for error in gig_form.qualifications.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </form>
        </section>
        <br>
        {% if is_owner: %}
        <section class="w-full md:w-1/2 rounded-lg bg-gray-100 border border-gray-200">
            <div>
                <h2 class="text-2xl font-bold">Applicants</h2>
            </div>
            <div class="rounded-lg">
                <table class="w-full">
                    <thead>
                        <tr>
                            <th class="w-40 p-3 font-semibold tracking-wide text-left">Applicant Name</th>
                            <th class="w-auto p-3 font-semibold tracking-wide text-left">Message</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                        {% for app in all_apps %}
                        {% set nid = app.get_applicant_netid() %}
                        {% set status = app.get_status() %}
                        <tr class="{{ 'status-YES' if status == 'YES' else 'status-NO' if status == 'NO' else 'status-UNDECIDED' }}"
                            id="{{ nid }}-row">
                            <td scope="row" class="p-3 whitespace-nowrap">
                                {{ get_usr(nid).get_name() }}
                                <div class="text-gray-500">
                                    {{ nid }}@princeton.edu
                                </div>
                            </td>
                            <td scope="row" class="p-3 whitespace-nowrap conditional-hyphens">{{ app.get_message() }}
                            </td>
                            <td>
                                <form class="stat_forms" id="{{ nid }}-StatusForm" method="post">
                                    {{ setstatusforms[nid].hidden_tag() }}
                                    {{ setstatusforms[nid].gigID() }}
                                    {{ setstatusforms[nid].applicantID() }}
                                    {{ setstatusforms[nid].status(class="p-2 w-auto rounded-lg") }}
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
        <section class="w-full md:w-1/2 rounded-lg ">
            <form align="center" method="post" class="deleteGigForm" id="deleteForm">
                {{ delete_form.hidden_tag() }} <!-- CSRF token -->
                {% if show_confirm %}
                <p> Are you sure? </p>
                {{ delete_form.confirm(class="p-2 w-auto rounded-lg bg-green-200") }}
                {{ delete_form.cancel(class="p-2 w-auto rounded-lg bg-red-200") }}
                {% else %}
                {{ delete_form.delete(class="p-2 w-auto rounded-lg bg-red-200") }}
                {% endif %}
            </form>
        </section>

        {% elif isAdmin: %}
        <section class="w-full md:w-1/2 rounded-lg ">
            <form align="center" method="post" class="deleteGigForm" id="adminDeleteForm">
                {{ delete_form.hidden_tag() }} <!-- CSRF token -->
                {% if show_confirm %}
                <p> Are you sure? </p>
                {{ delete_form.confirm(class="p-2 w-auto rounded-lg bg-green-200") }}
                {{ delete_form.cancel(class="p-2 w-auto rounded-lg bg-red-200") }}
                {% else %}
                {{ delete_form.delete(class="p-2 w-auto rounded-lg bg-red-200") }}
                {% endif %}
            </form>
        </section>

        {% elif application is none %}
        <section class="w-full md:w-1/2">
            <form action="" method="post" id="applyFormID" novalidate>
                {{ apply_form.hidden_tag() }} <!-- the CSRF token -->
                <div class="flex space-x-10">
                    {{ apply_form.message(class_="border border-gray-600 p-2 w-full rounded-lg focus:outline-none
                    focus:border-teal-500", rows=2, id="message", maxlength="1500", placeholder="Describe your
                    qualifications, availability, and any relevant info. You will be contacted if there is a match. ")}}
                    {{ apply_form.submit(class_="p-2 w-auto rounded-lg bg-purple-200") }}
                </div>
            </form>
            {% for error in apply_form.message.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </section>
        {% else %}
        <section class="w-full md:w-1/2 rounded-lg bg-gray-100 border border-gray-200">
            <div>
                <h3 class="text-xl font-bold">You already applied to this gig!</h3>
            </div>

            <div>
                Your response: <div scope="row" class="conditional-hyphens p3 whitespace-nowrap">{{
                    application.get_message() }}
                </div>
            </div>
        </section>
        {% endif %}

    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        'use strict';
        function updateStatus(e, netid, status) {
            e.preventDefault();

            let requestData = {
                type: 'POST',
                url: '/update_status',
                data: $(`#${netid}-StatusForm`).serialize(),
                success: function (response) {
                    if (response.status) {
                        $(`#${netid}-row`).removeClass('status-YES status-NO status-UNDECIDED');
                        $(`#${netid}-row`).addClass(`status-${status}`);
                        $(`#${netid}-StatusForm`).find(':input').prop('disabled', false);
                    }
                    else {
                        $(`#${netid}-StatusForm`).find(':input').prop('disabled', false);
                        if ($(`#${netid}-row`).hasClass('status-YES'))
                            $(`#${netid}-StatusForm [name="status"]`).val('YES');
                        else if ($(`#${netid}-row`).hasClass('status-NO'))
                            $(`#${netid}-StatusForm [name="status"]`).val('NO');
                        else
                            $(`#${netid}-StatusForm [name="status"]`).val('UNDECIDED');
                        alert('WOOPS');
                    }
                },
                error: function (response) {
                    $(`#${netid}-StatusForm`).find(':input').prop('disabled', false);
                    if ($(`#${netid}-row`).hasClass('status-YES'))
                        $(`#${netid}-StatusForm [name="status"]`).val('YES');
                    else if ($(`#${netid}-row`).hasClass('status-NO'))
                        $(`#${netid}-StatusForm [name="status"]`).val('NO');
                    else
                        $(`#${netid}-StatusForm [name="status"]`).val('UNDECIDED');
                    alert('Error updating status. Please try again.');
                }
            };
            $(`#${netid}-StatusForm`).find(':input').prop('disabled', true);
            $.ajax(requestData);
        }

        function toggleFormButtons(formId, showConfirm) {
            let form = $('#' + formId);

            if (showConfirm) {
                // Show confirm and cancel buttons
                form.html('{{ delete_form.hidden_tag() }}' +
                    '<p>Are you sure?</p>' +
                    '{{ delete_form.confirm(class="p-2 w-auto rounded-lg bg-green-200") }}' +
                    '{{ delete_form.cancel(class="p-2 w-auto rounded-lg bg-red-200") }}');
            } else {
                // Show delete button
                form.html('{{ delete_form.hidden_tag() }}' +
                    '{{ delete_form.delete(class="p-2 w-auto rounded-lg bg-red-200") }}');
            }
        }

        $(document).ready(function () {

            console.log('document ready')
            $('#applyFormID').submit(function (e) {
                console.log('apply form submitted')
                $('#applyFormID').find(':submit').prop('disabled', true);
            });

            // Honestly, not sure if neccessary, but afraid to delete
            $('.deleteGigForm').submit(function (e) {
                console.log('2')
                if ($('input[type=submit][clicked=true]').val() === 'Delete') {
                    console.log('delete button clicked')
                    e.preventDefault();
                    // because there are two forms, one for owner one for admin
                    let formId = $(this).attr('id')
                    toggleFormButtons(formId, true)
                }
                if ($('input[type=submit][clicked=true]').val() === 'No') {
                    console.log('cancel button clicked')
                    e.preventDefault();
                    // because there are two forms, one for owner one for admin
                    let formId = $(this).attr('id')
                    toggleFormButtons(formId, false)
                }
                if ($('input[type=submit][clicked=true]').val() === 'Yes') {
                    console.log('delete initiated')
                    e.preventDefault();
                    $('#confirmButton').prop('disabled', true)
                    $('#cancelButton').prop('disabled', true)
                    // now you can send the AJAX request
                    let url = "/gigdeleted/"
                    let gigId = "{{ gigID }}"
                    url += gigId
                    let deleteGigForm = $(this).serialize()
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: deleteGigForm,
                        success: function (response) {
                            $('body').html(response);
                        },
                        error: function (xhr, status, error) {
                            console.log('whoopsie, something went wrong') // change this later obv
                        }

                    })
                    console.log("delete button disabled and delete request sent")
                }

            });

            $('.stat_forms').on('change', function (e) {
                console.log('5')
                let netid = $(this).attr('id').split('-')[0];
                let status = $(this).find(':selected').val();
                updateStatus(e, netid, status);
            });
            $(document).on('click', 'input[type=submit]', function () {
                $('input[type=submit]', $(this).parents('form')).removeAttr('clicked');
                $(this).attr('clicked', 'true');
            });

        })

        function handleEditGigResponse(data) {
            console.log('handleEditGigResponse')
            console.log(data)
            $('#gigEditSection').html(data)
            $('#gigEditButton').on('click', function () { editGigVisiblity(); })
            // I might switch the logic here later (instead of readding event listeners, sth else)
            $('#gigEditForm').on('submit', function (e) { changeGig(e); });
        }

        function handleEditGigError() {
            alert('Error: Failed to update data on server');
            $('#gigEditForm').find(':submit').prop('disabled', false);
        }

        function changeGig(e) {
            e.preventDefault()
            $('#gigEditForm').find(':submit').prop('disabled', true);

            // AJAX POST request to the server
            $.ajax({
                type: 'POST',
                url: '/update_gig/' + gigID, // Replace 'gigId' with the actual gig ID
                data: $('#gigEditForm').serialize(),
                success: handleEditGigResponse,
                error: handleEditGigError,
            });
        }

        function editGigVisiblity() {
            $('#gigTitleDisplay').attr('hidden', '')
            $('#dateDisplay').attr('hidden', '')
            $('#authorDisplay').attr('hidden', '')
            $('#startDateTitleDisplay').attr('hidden', '')
            $('#startDateDisplay').attr('hidden', '')
            $('#endDateTitleDisplay').attr('hidden', '')
            $('#endDateDisplay').attr('hidden', '')
            $('#gigCategoryTitleDisplay').attr('hidden', '')
            $('#gigCategoryDisplay').attr('hidden', '')
            $('#gigDescriptionTitleDisplay').attr('hidden', '')
            $('#gigDescriptionDisplay').attr('hidden', '')
            $('#gigQualificationTitleDisplay').attr('hidden', '')
            $('#gigQualificationDisplay').attr('hidden', '')
            $('#gigEditButton').attr('hidden', '')
            $('#gigEditForm').removeAttr('hidden')
        }

        function setup() {
            console.log('setup complete');

            $('#gigEditButton').on('click', function () { editGigVisiblity(); })

            $('#gigEditForm').on('submit', function (e) { changeGig(e); });
        }

        document.addEventListener('DOMContentLoaded', setup)

        window.onpageshow = function (event) {
            console.log('6')
            if (event.persisted) {
                window.location.reload();
            }
        };
    </script>
</body>

</html>