<style>
    section {
        margin: 0 auto;
        width: 80%;
        padding: 1em;
    }

    #cancelButton {
        margin-left: 10px;
    }

    .status-YES {
        background-color: rgba(212, 237, 218, 0.5);
        /* Lighter and more transparent green */
    }

    .status-NO {
        background-color: rgba(248, 215, 218, 0.5);
        /* Lighter and more transparent red */
    }

    .status-UNDECIDED {
        /* This is the default color */
    }

    .conditional-hyphens {
        overflow-wrap: break-word;
        word-break: break-word;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
</style>
<div>
    <div class="flex justify-between">
        <h2 id="gigTitleDisplay" class="text-2xl font-bold conditional-hyphens">{{gigTitle}}</h2>
        <div>
            <p id="dateDisplay" class="text-gray-600">{{gigPostedDate}}</p>
            {% if is_owner %}
            <button id="gigEditButton" class="text-white bg-button bg-button-hover rounded-lg p-1 w-full">
                <i class="fas fa-pencil-alt"></i> Edit Gig 
            </button>
            {% endif %}
        </div>
    </div>

    <div>
        <h3 id="authorDisplay">Posted By: {{gigPoster}}</h3>
    </div>
    <div class="mb-4" id="gigCategoryDisplay">
        {% if gigCategory == 'teaching' %}
        Gig Category: <span id="gigCategoryDisplay"
            class="p-2 text-xs font-medium uppercase tracking-wider text-blue-800 bg-blue-200 rounded-lg bg-opacity-50">
            Teaching
        </span>
        {% elif gigCategory == 'research' %}
        Gig Category: <span id="gigCategoryDisplay"
            class="p-2 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50">
            Research
        </span>
        {% elif gigCategory == 'technical' %}
        Gig Category: <span id="gigCategoryDisplay"
            class="p-2 text-xs font-medium uppercase tracking-wider text-yellow-800 bg-yellow-200 rounded-lg bg-opacity-50">
            Technical
        </span>
        {% elif gigCategory == 'writing' %}
        Gig Category: <span id="gigCategoryDisplay"
            class="p-2 text-xs font-medium uppercase tracking-wider text-red-800 bg-red-200 rounded-lg bg-opacity-50">
            Writing
        </span>
        {% elif gigCategory == 'graphic_design' %}
        Gig Category: <span id="gigCategoryDisplay"
            class="p-2 text-xs font-medium uppercase tracking-wider text-purple-800 bg-purple-200 rounded-lg bg-opacity-50">
            Graphic Design
        </span>
        {% elif gigCategory == 'photography_film' %}
        Gig Category: <span id="gigCategoryDisplay"
            class="p-2 text-xs font-medium uppercase tracking-wider text-pink-800 bg-pink-200 rounded-lg bg-opacity-50">
            Photography/Film
        </span>
        {% elif gigCategory == 'events' %}
        Gig Category: <span id="gigCategoryDisplay"
            class="p-2 text-xs font-medium uppercase tracking-wider text-indigo-800 bg-indigo-200 rounded-lg bg-opacity-50">
            Events
        </span>
        {% elif gigCategory == 'marketing' %}
        Gig Category: <span id="gigCategoryDisplay"
            class="p-2 text-xs font-medium uppercase tracking-wider text-gray-800 bg-gray-200 rounded-lg bg-opacity-50">
            Marketing
        </span>
        {% elif gigCategory == 'administrative' %}
        Gig Category: <span id="gigCategoryDisplay"
            class="p-2 text-xs font-medium uppercase tracking-wider text-blue-800 bg-blue-200 rounded-lg bg-opacity-50">
            Administrative
        </span>
        {% elif gigCategory == 'volunteer' %}
        Gig Category: <span id="gigCategoryDisplay"
            class="p-2 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50">
            Volunteer
        </span>
        {% elif gigCategory == 'fitness' %}
        Gig Category: <span id="gigCategoryDisplay"
            class="p-2 text-xs font-medium uppercase tracking-wider text-yellow-800 bg-yellow-200 rounded-lg bg-opacity-50">
            Fitness
        </span>
        {% elif gigCategory == 'other' %}
        Gig Category: <span id="gigCategoryDisplay"
            class="p-2 text-xs font-medium uppercase tracking-wider text-red-800 bg-red-200 rounded-lg bg-opacity-50">
            Other
        </span>
        {% endif %}
    </div>
    <div class="mb-4">
        <h3 id="startDateTitleDisplay" class="font-bold">Gig Start Date:</h3>
        <h3 id="startDateDisplay">{{gigStartDate}}</h3>
    </div>
    <div class="mb-4">
        <h3 id="endDateTitleDisplay" class="font-bold">Gig End Date:</h3>
        <h3 id="endDateDisplay">{{gigEndDate}}</h3>
    </div>
    <div class="mb-4">
        <h3 id="gigDescriptionTitleDisplay" class="font-bold">Description</h3>
        <p id="gigDescriptionDisplay" class="conditional-hyphens">{{gigDescription}}</p>
    </div>
    <div class="mb-4">
        <h3 id="gigQualificationTitleDisplay" class="font-bold">Qualifications</h3>
        <p id="gigQualificationDisplay" class="conditional-hyphens">{{gigQualifications}}</p>
    </div>
    <div class="mb-4">
        <h3 id="hpriceTitleDisplay" class="font-bold">Hourly Rate</h3>
        <p id="hpriceDisplay" class="conditional-hyphens">${{gigHprice}}</p>
    </div>
</div>
<form hidden id="gigEditForm" method="post">
    {{ gig_form.hidden_tag() }}
    <div class="flex justify-between">
        {{ gig_form.title(id="gigTitleEdit", class="text-2xl font-bold border
        border-blue-600
        py-1 rounded-lg w-3/4")}}
        {% for error in gig_form.title.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <div>
            <p class="text-gray-600">{{gigPostedDate}}</p>
            {% if is_owner %}
            {{ gig_form.submit(class= "cursor-pointer text-white bg-button bg-button-hover rounded-md p-1 w-full")}}
            {% endif %}
        </div>
    </div>
    <div>
        <h3>Posted By: {{gigPoster}}</h3>
    </div>
    <div class="mb-4">
        Gig Category:{{ gig_form.categories(id="gigCategoryEdit", class="border border-blue-600 p-2 w-full
        md:w-1/2
        rounded-lg")}}
    </div>
    <div class="mb-4">
        <h3 class="font-bold">Gig Start Date:</h3>
        <h3>{{gigStartDate}}</h3>
    </div>
    <div class="mb-4">
        <h3 class="font-bold">Gig End Date:</h3>
        <h3>{{gigEndDate}}</h3>
    </div>
    <div class="mb-4">
        <h3 class="font-bold">Description</h3>
        {{ gig_form.description(id="gigDescriptionEdit", class="border border-blue-600
        py-1 rounded-lg w-full")}}
        {% for error in gig_form.description.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="mb-4">
        <h3 class="font-bold">Qualifications</h3>
        {{ gig_form.qualifications(id="gigQualificationEdit", class="border border-blue-600 py-1 rounded-lg
        w-full")}}
        {% for error in gig_form.qualifications.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="mb-4">
        <h3 class="font-bold">Hourly Rate</h3>
        {{ gig_form.price(id="gigPriceEdit", class="border border-blue-600 py-1 rounded-lg
        w-1/4")}}
        {% for error in gig_form.price.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
</form>