<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--will scale to diff browser sizes-->
        <title>Gig Posted!</title> <!--title on browser window-->
        <!-- Including the styles from index.css -->
        <link rel="stylesheet" href="/static/dist/css/index.css">
    </head>

    <body>
        <h1> Your Gig has been posted!</h1>
        <br>
        <a href="index" class="btn">Return Home</a>
        <br>
        <a href="details" class="btn">View Gig Details</a>
    </body>
</html>
