<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gigl | The next big thing</title>
    <!-- Include Tailwind CSS from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
    <style>
      /* Define background gradients */
      .gradient-blue-purple {
        background: linear-gradient(rgba(52, 152, 219, 0.8), rgba(155, 89, 182, 0.8));
      }

      .gradient-green-yellow {
          background: linear-gradient(90deg, #2ecc71, #f1c40f);
      }
  </style>
</head>
<body>
  <div class="bg-white">
    <header class="absolute inset-x-0 top-0 z-50">
      <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="lg:flex lg:flex-1 lg:justify-end">
          <a href="/home" class="text-sm font-semibold leading-6 text-gray-900">Log in <span aria-hidden="true">&rarr;</span></a>
        </div>
      </nav>
    </header>
  
    <div class="relative gradient-blue-purple isolate px-6 pt-14 lg:px-8">
      <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
        <div class="text-center">
          <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Unlock Your Potential, Freelance with Ease!</h1>
          <p class="mt-6 text-lg leading-8 text-gray-600">Introducing the future of freelancing. Work, earn, and thrive on your terms. Freelance smarter and achieve your goals with ease.</p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a href="/home" class="rounded-full bg-indigo-600 px-4 py-3 text-base font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Get started</a>
            <a href="https://github.com/taylanoaydin/gigl" class="text-sm font-semibold leading-6 text-gray-900">Learn more <span aria-hidden="true">→</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-3">
        <div class="mx-auto flex max-w-xs flex-col gap-y-4">
          <dt class="text-base leading-7 text-gray-600">Daily job postings</dt>
          <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">2523 Postings</dd>
        </div>
        <div class="mx-auto flex max-w-xs flex-col gap-y-4">
          <dt class="text-base leading-7 text-gray-600">Enrolled giglers</dt>
          <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">324 Students</dd>
        </div>
        <div class="mx-auto flex max-w-xs flex-col gap-y-4">
          <dt class="text-base leading-7 text-gray-600">Total jobs</dt>
          <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">46,000 Gigs</dd>
        </div>
      </dl>
    </div>
  </div>
</body>
</html>
