<style>
  .edit-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    /* Rounded edges */
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
    outline: none;
    /* Removes the outline */
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
    /* Adds a subtle shadow */
    background-color: #87d0a0;
    /* Default green background */
    color: white;
    /* White text */
    position: relative;
    /* Adjusted from absolute to relative */
    right: 0;
    /* Reset right positioning */
  }

  .edit-btn:hover {
    background-color: #40c847;
    /* Darker green on hover */
  }


  .submit-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    /* Rounded edges */
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
    outline: none;
    /* Removes the outline */
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
    /* Adds a subtle shadow */
    background-color: #ce8bd2;
    /* Default green background */
    color: white;
    /* White text */
    position: relative;
    /* Adjusted from absolute to relative */
    right: 0;
    /* Reset right positioning */
  }

  .submit-btn:hover {
    background-color: #ce3ed9;
    /* Darker green on hover */
  }
</style>
<div class="flex justify-between items-center p-4">
  <div>
    <h2 class="text-xl font-bold">Links:</h2>
    {% if links|length == 0 or links|join == '' %}
    <span class="text-black-400">[You don't have any links yet. Show your portfolio here!]</span>
    {% else %}
    <ul id="linksDisplay" class="list-inside list-disc mt-2">
      {% for link in links %}
      <li class="hover:text-orange-500 mt-1">
        <a href="{{ 'https://' + link if not link.startswith(('http://', 'https://')) else link }}"
          rel="noopener noreferrer" class="transition-colors duration-200">{{ link }}</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    <form hidden id="linkEditForm" method="post">
      {{ linkeditform.hidden_tag() }}
      <div class="flex flex-col space-y-4">
        {{ linkeditform.link1(class_="border border-gray-200 p-2 w-full rounded-lg focus:outline-none
        focus:border-teal-500", id="link1", maxlength="200", placeholder="example_link.com", value=links[0] if
        links|length >= 1 else '') }}

        {{ linkeditform.link2(class_="border border-gray-200 p-2 w-full rounded-lg focus:outline-none
        focus:border-teal-500", id="link2", maxlength="200", placeholder="example_link.com", value=links[1] if
        links|length >= 2 else '') }}

        {{ linkeditform.link3(class_="border border-gray-200 p-2 w-full rounded-lg focus:outline-none
        focus:border-teal-500", id="link3", maxlength="200", placeholder="example_link.com", value=links[2] if
        links|length >= 3 else '') }}

        {{ linkeditform.link4(class_="border border-gray-200 p-2 w-full rounded-lg focus:outline-none
        focus:border-teal-500", id="link4", maxlength="200", placeholder="example_link.com", value=links[3] if
        links|length >= 4 else '') }}

        {{ linkeditform.submit(class_="submit-btn") }}
      </div>
    </form>
  </div>
  <div>
    <button id="linksEditButton" type="submit" class="edit-btn">
      Edit
    </button>
  </div>
</div>