<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<i class="fas fa-pencil-alt"></i> <!-- Add pencil icon -->
{% if specialty == 'Tutor' %}
<span
  class="hover:shadow-xl p-2 text-xs font-medium uppercase tracking-wider text-blue-800 bg-blue-200 rounded-lg bg-opacity-50">
  Tutor
</span>
{% elif specialty == 'Not Chosen' %}
<span
  class="hover:shadow-xl p-2 text-xs font-medium uppercase tracking-wider text-red-800 bg-red-200 rounded-lg bg-opacity-50">
  Choose Your Specialty!
</span>
{% elif specialty == 'Researcher' %}
<span
  class="hover:shadow-xl p-2 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50">
  Researcher
</span>
{% elif specialty == 'Developer' %}
<span
  class="hover:shadow-xl p-2 text-xs font-medium uppercase tracking-wider text-yellow-800 bg-yellow-200 rounded-lg bg-opacity-50">
  Developer
</span>
{% elif specialty == 'Writer' %}
<span
  class="hover:shadow-xl p-2 text-xs font-medium uppercase tracking-wider text-red-800 bg-red-200 rounded-lg bg-opacity-50">
  Writer
</span>
{% elif specialty == 'Graphic Designer' %}
<span
  class="hover:shadow-xl p-2 text-xs font-medium uppercase tracking-wider text-purple-800 bg-purple-200 rounded-lg bg-opacity-50">
  Graphic Designer
</span>
{% elif specialty == 'Photographer' %}
<span
  class="hover:shadow-xl p-2 text-xs font-medium uppercase tracking-wider text-pink-800 bg-pink-200 rounded-lg bg-opacity-50">
  Photographer
</span>
{% elif specialty == 'Volunteer' %}
<span
  class="hover:shadow-xl p-2 text-xs font-medium uppercase tracking-wider text-indigo-800 bg-indigo-200 rounded-lg bg-opacity-50">
  Volunteer
</span>
{% elif specialty == 'Fitness Coach' %}
<span
  class="hover:shadow-xl p-2 text-xs font-medium uppercase tracking-wider text-gray-800 bg-gray-200 rounded-lg bg-opacity-50">
  Fitness Coach
</span>
{% elif specialty == 'Cosmetician' %}
<span
  class="hover:shadow-xl p-2 text-xs font-medium uppercase tracking-wider text-blue-800 bg-blue-200 rounded-lg bg-opacity-50">
  Cosmetician
</span>
{% elif specialty == 'Cook' %}
<span
  class="hover:shadow-xl p-2 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50">
  Cook
</span>
{% elif specialty == 'Fashion Designer' %}
<span
  class="hover:shadow-xl p-2 text-xs font-medium uppercase tracking-wider text-yellow-800 bg-yellow-200 rounded-lg bg-opacity-50">
  Fashion Designer
</span>
{% elif specialty == 'Musician' %}
<span
  class="hover:shadow-xl p-2 text-xs font-medium uppercase tracking-wider text-orange-800 bg-orange-200 rounded-lg bg-opacity-50">
  Musician
</span>
{% elif specialty == 'Choreographer' %}
<span
  class="hover:shadow-xl p-2 text-xs font-medium uppercase tracking-wider text-teal-800 bg-teal-200 rounded-lg bg-opacity-50">
  Choreographer
</span>
{% elif specialty == 'Stylist' %}
<span
  class="hover:shadow-xl p-2 text-xs font-medium uppercase tracking-wider text-red-800 bg-red-200 rounded-lg bg-opacity-50">
  Stylist
</span>
{% elif specialty == 'Actor' %}
<span
  class="hover:shadow-xl p-2 text-xs font-medium uppercase tracking-wider text-blue-800 bg-blue-200 rounded-lg bg-opacity-50">
  Actor
</span>
{% elif specialty == 'Miscellaneous' %}
<span
  class="hover:shadow-xl p-2 text-xs font-medium uppercase tracking-wider text-red-800 bg-red-200 rounded-lg bg-opacity-50">
  Miscellaneous
</span>
{% endif %}