<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--will scale to diff browser sizes-->
    <title>Gigl - Home</title> <!--title on browser window-->
    <!-- Including the styles from index.css -->
    <link rel="stylesheet" href="/static/dist/css/index.css">
</head>

<body>
    {% include 'header.html' %} <!--JINJA2 template for the header-->
    <main>
        <h2> New Gig for {{username}}-{{user_email}}</h2> <!-- user information -->
        <form action="/gigposted" method="POST">
            <!-- Start Date -->
            <label for="start_date">Start Date:</label>
            <input type="date" id="start_date" name="start_date" required>

            <!-- End Date -->
            <label for="end_date">End Date:</label>
            <input type="date" id="end_date" name="end_date" required>
            <br>
            
            <label for="qualifications">Qualifications:</label>
            <input type="text" id="qualifications" name="qualifications" maxlength="100">
            <br>
            
            <!--JS required to make description limited on words not characters-->
            <label for="description">Description:</label>
            <input type="text" id="description" name="description" maxlength="900">
            
            <br>
            <label for="Categories">Categories:</label>
            <select name="category" id="Categories">
                <!-- Placeholder option -->
                <option value="" disabled selected>Category</option>
                <!-- Categories options -->
                <option value="teaching">Teaching</option>
                <option value="research">Research</option>
                <option value="technical">Technical</option>
                <option value="writing">Writing</option>
                <option value="graphic_design">Graphic Design</option>
                <option value="photography_film">Photography/Film</option>
                <option value="events">Events</option>
                <option value="marketing">Marketing</option>
                <option value="administrative">Administrative</option>
                <option value="volunteer">Volunteer</option>
                <option value="fitness">Fitness</option>
                <option value="other">Other</option>
            </select>
            <br>
            
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" maxlength="50">
            <br>

            <input type="submit" value="Submit">
        </form>
    </main>
    <hr>
</body>

</html>