<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!--will scale to diff browser sizes-->
   <title>gigl</title>
   <!--title on browser window-->
   <style>
      /* Basic styling for the title */
      .collapsible-title {
         cursor: pointer;
         color: #3498db;
      }

      /* Hide the checkbox */
      .collapsible-toggle {
         display: none;
      }

      .specialty-button {
         display: inline-flex;
         /* Align items in a flex row */
         align-items: center;
         /* Center items vertically */
         justify-content: center;
         /* Center items horizontally */
         padding: 12px 24px;
         /* Add more padding */
         font-size: 1rem;
         /* Set font size */
         gap: 8px;
         /* Space between the icon and text */
         border-radius: 50px;
         /* Rounded corners */
         transition: all 0.3s ease;
         /* Smooth transition for hover effects */
         cursor: pointer;
         /* Change mouse cursor on hover */
         border: none;
         /* Remove border */
         color: white;
         /* Text color */
         background-color: #76c893;
         /* Background color */
         box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
         /* Shadow for depth */
         outline: none;
         /* Remove focus outline */
      }

      /* Adjust the hover state */
      .specialty-button:hover {
         background-color: #45a049;
         /* Darker shade on hover */
         box-shadow: 2px 8px 15px rgba(0, 0, 0, 0.3);
         /* Larger shadow on hover */
      }

      /* Toggle Visibility Button */
      #toggleVisibilityBtn {
         padding: 10px 20px;
         border: none;
         border-radius: 50px;
         /* Rounded edges */
         font-size: 16px;
         font-weight: bold;
         transition: all 0.3s ease;
         outline: none;
         /* Removes the outline */
         box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
         /* Adds a subtle shadow */
      }

      .btn-visible {
         background-color: #76c893;
         /* A nicer shade of green */
         color: white;
      }

      .btn-invisible {
         background-color: #ff867c;
         /* A nicer shade of red */
         color: white;
      }

      /* Hover effects */
      .btn-visible:hover {
         background-color: #45a049;
      }

      .btn-invisible:hover {
         background-color: #d32f2f;
      }

      /* Hover effects */
      .btn:hover {
         opacity: 0.9;
      }

      .edit-btn {
         padding: 10px 20px;
         border: none;
         border-radius: 50px;
         /* Rounded edges */
         font-size: 16px;
         font-weight: bold;

         transition: all 0.3s ease;
         outline: none;
         /* Removes the outline */
         box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
         /* Adds a subtle shadow */
         background-color: #87d0a0;
         /* Default green background */
         color: white;
         /* White text */
         position: relative;
         /* Adjusted from absolute to relative */
         right: 0;
         /* Reset right positioning */
      }


      .edit-btn:hover {
         background-color: #40c847;
         /* Darker green on hover */
      }


      .submit-btn {
         padding: 10px 20px;
         border: none;
         border-radius: 50px;
         /* Rounded edges */
         font-size: 16px;
         font-weight: bold;
         transition: all 0.3s ease;
         outline: none;
         /* Removes the outline */
         box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
         /* Adds a subtle shadow */
         background-color: #ce8bd2;
         /* Default green background */
         color: white;
         /* White text */
         position: relative;
         /* Adjusted from absolute to relative */
         right: 0;
         /* Reset right positioning */
      }

      .submit-btn:hover {
         background-color: #ce3ed9;
         /* Darker green on hover */
      }

      /* By default, hide the collapsible content */
      .collapsible-content {
         display: none;
         list-style-type: none;
         padding: 0;
         margin: 0;
      }

      /* Display the content when the checkbox is checked */
      .collapsible-toggle:checked+.collapsible-content {
         display: block;
      }

      section {
         margin: 0 auto;
         width: 80%;
         padding: 1em;
      }

      .conditional-hyphens {
         overflow-wrap: break-word;
         word-break: break-word;
         -webkit-hyphens: auto;
         -ms-hyphens: auto;
         hyphens: auto;
      }
   </style>


   <script>
      function openTab(event, tabName) {
         var tabcontent = document.getElementsByClassName("tab-content");
         for (var i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
         }

         var tablinks = document.getElementsByClassName("tab-link");
         for (var i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" bg-gray-300 border border-blue-500", "");
         }

         document.getElementById(tabName).style.display = "block";
         event.currentTarget.className += " bg-gray-300 border border-blue-500";
      }
   </script>
   <!-- Including the styles from index.css -->
</head>

<body>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   {% include 'header.html' %} <!--JINJA2 template for the header-->
   <main>
      <br>
      <section class="rounded-lg bg-gray-100 border border-gray-100">
         <div class="flex justify-between items-center p-4">
            <div>
               <h2 class="text-xl font-bold"> Your Profile </h2>
               <h3> Name: {{username}} </h3>
               <h3> Email: {{user_email}} </h3>
               <h3> Specialty:
                  <br>
                  <div>
                     <button id="specialtyBtn">
                        <i class="fas fa-pencil-alt"></i> <!-- Add pencil icon -->
                        {% if specialty == 'Tutor' %}
                        <span
                           class="hover:shadow-xl p-2 text-xs font-medium uppercase tracking-wider text-blue-800 bg-blue-200 rounded-lg bg-opacity-50">
                           Tutor
                        </span>
                        {% elif specialty == 'Not Chosen' %}
                        <span
                           class="hover:shadow-xl p-2 text-xs font-medium uppercase tracking-wider text-red-800 bg-red-200 rounded-lg bg-opacity-50">
                           Not Chosen
                        </span>
                        {% elif specialty == 'Researcher' %}
                        <span
                           class="hover:shadow-xl p-2 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50">
                           Researcher
                        </span>
                        {% elif specialty == 'Developer' %}
                        <span
                           class="hover:shadow-xl p-2 text-xs font-medium uppercase tracking-wider text-yellow-800 bg-yellow-200 rounded-lg bg-opacity-50">
                           Developer
                        </span>
                        {% elif specialty == 'Writer' %}
                        <span
                           class="hover:shadow-xl p-2 text-xs font-medium uppercase tracking-wider text-red-800 bg-red-200 rounded-lg bg-opacity-50">
                           Writer
                        </span>
                        {% elif specialty == 'Graphic Designer' %}
                        <span
                           class="hover:shadow-xl p-2 text-xs font-medium uppercase tracking-wider text-purple-800 bg-purple-200 rounded-lg bg-opacity-50">
                           Graphic Designer
                        </span>
                        {% elif specialty == 'Photographer' %}
                        <span
                           class="hover:shadow-xl p-2 text-xs font-medium uppercase tracking-wider text-pink-800 bg-pink-200 rounded-lg bg-opacity-50">
                           Photographer
                        </span>
                        {% elif specialty == 'Volunteer' %}
                        <span
                           class="hover:shadow-xl p-2 text-xs font-medium uppercase tracking-wider text-indigo-800 bg-indigo-200 rounded-lg bg-opacity-50">
                           Volunteer
                        </span>
                        {% elif specialty == 'Fitness Coach' %}
                        <span
                           class="hover:shadow-xl p-2 text-xs font-medium uppercase tracking-wider text-gray-800 bg-gray-200 rounded-lg bg-opacity-50">
                           Fitness Coach
                        </span>
                        {% elif specialty == 'Cosmetician' %}
                        <span
                           class="hover:shadow-xl p-2 text-xs font-medium uppercase tracking-wider text-blue-800 bg-blue-200 rounded-lg bg-opacity-50">
                           Cosmetician
                        </span>
                        {% elif specialty == 'Cook' %}
                        <span
                           class="hover:shadow-xl p-2 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50">
                           Cook
                        </span>
                        {% elif specialty == 'Fashion Designer' %}
                        <span
                           class="hover:shadow-xl p-2 text-xs font-medium uppercase tracking-wider text-yellow-800 bg-yellow-200 rounded-lg bg-opacity-50">
                           Fashion Designer
                        </span>
                        {% elif specialty == 'Miscellaneous' %}
                        <span
                           class="hover:shadow-xl p-2 text-xs font-medium uppercase tracking-wider text-red-800 bg-red-200 rounded-lg bg-opacity-50">
                           Miscellaneous
                        </span>
                        {% endif %}
                     </button>
                     <form hidden id="specialtySelectForm" method="post">
                        {{ specialtyform.hidden_tag() }}
                        <div class="flex flex-col space-y-4">
                           <!-- Render the category select field using WTForms -->
                           {{ specialtyform.specialty(class_="border border-gray-200 p-2 rounded-lg focus:outline-none focus:border-teal-500", value=specialty) }}

                           <!-- Render the submit button using WTForms -->
                           {{ specialtyform.submit(class_="p-2 w-auto rounded-lg bg-indigo-200") }}
                        </div>
                     </form>
                  </div>
               </h3>
            </div>
            <!-- Toggle Visibility Form -->
            <div>
               <button id="toggleVisibilityBtn"
                  class="{{ 'btn-invisible' if not user.is_visible() else 'btn-visible' }}">
                  {{ 'Invisible' if not user.is_visible() else 'Visible' }}
               </button>
            </div>
         </div>
      </section>
      <br>
      <section id="bioSection" class="rounded-lg bg-gray-100 border border-gray-200">
         <div class="flex justify-between items-center p-4">
            <div class="mb-4 flex-grow">
               <h2 class="text-xl font-bold">Bio:</h2>
               <p id="bioDisplay" class="mt-2 conditional-hyphens">
                  {% if bio %}
                  {{ bio }}
                  {% else %}
                  <span class="text-black-400">[You haven't written your bio yet.]</span>
                  {% endif %}
               </p>
               <form hidden id="bioEditForm" method="post">
                  {{ bioeditform.hidden_tag() }}
                  <div class="flex space-x-10">
                     {{ bioeditform.bio(class_="border border-gray-200 p-2 w-full rounded-lg focus:outline-none focus:border-teal-500", maxlength="1500", rows=1, placeholder="Who are you and what do you do?", id="bio") }}
                     {{ bioeditform.submit(class_="submit-btn") }}
                  </div>
               </form>
            </div>
            <div>
               <button id="bioEditButton" class="edit-btn">
                  Edit
               </button>
            </div>
         </div>
      </section>
      <br>
      <section id="linksSection" class="rounded-lg bg-gray-100 border border-gray-200">
         <div class="flex justify-between items-center p-4">
            <div>
               <h2 class="text-xl font-bold">Links:</h2>
               {% if links|length == 0 or links|join == '' %}
               <span class="text-black-400">[You don't have any links yet. Show your portfolio here!]</span>
               {% else %}
               <ul id="linksDisplay" class="list-inside list-disc mt-2">
                  {% for link in links %}
                  <li class="hover:text-orange-500 mt-1">
                     <a href="{{ 'https://' + link if not link.startswith(('http://', 'https://')) else link }}"
                        rel="noopener noreferrer" class="transition-colors duration-200">{{ link }}</a>
                  </li>
                  {% endfor %}
               </ul>
               {% endif %}

               <form hidden id="linkEditForm" method="post">
                  {{ linkeditform.hidden_tag() }}
                  <div class="flex flex-col space-y-4">

                     {{ linkeditform.link1(class_="border border-gray-200 p-2 w-full rounded-lg focus:outline-none focus:border-teal-500", id="link1", maxlength="200", placeholder="example_link.com", value=links[0] if links|length >= 1 else '') }}

                     {{ linkeditform.link2(class_="border border-gray-200 p-2 w-full rounded-lg focus:outline-none focus:border-teal-500", id="link2", maxlength="200", placeholder="example_link.com", value=links[1] if links|length >= 2 else '') }}

                     {{ linkeditform.link3(class_="border border-gray-200 p-2 w-full rounded-lg focus:outline-none focus:border-teal-500", id="link3", maxlength="200", placeholder="example_link.com", value=links[2] if links|length >= 3 else '') }}

                     {{ linkeditform.link4(class_="border border-gray-200 p-2 w-full rounded-lg focus:outline-none focus:border-teal-500", id="link4", maxlength="200", placeholder="example_link.com", value=links[3] if links|length >= 4 else '') }}
                     {{ linkeditform.submit(class_="submit-btn") }}
                  </div>
               </form>
            </div>
            <div>
               <button id="linksEditButton" type="submit" class="edit-btn">
                  Edit
               </button>
            </div>
         </div>
      </section>
      <section>
         <div class="flex flex-col items-center justify-center">
            <!-- Tabs -->
            <div class="mb-4 space-x-10">
               <button class="tab-link px-4 py-2 font-semibold bg-gray-200 focus:outline-none hover:bg-gray-300"
                  onclick="openTab(event, 'Table1')">My Gigs</button>
               <button class="tab-link px-4 py-2 font-semibold bg-gray-200 focus:outline-none hover:bg-gray-300"
                  onclick="openTab(event, 'Table2')">My Apps</button>
               <button class="tab-link px-4 py-2 font-semibold bg-gray-200 focus:outline-none hover:bg-gray-300"
                  onclick="openTab(event, 'Table3')">My Bookmarks</button>
            </div>

            <!-- Content -->
            <div id="Table1" class="tab-content w-full" style="display:block">
               <table id="myGigsTable" class="w-full">
                  <thead class="bg-gray-200 border-b-2 border-gray-200">
                     <tr>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">Gig Title</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">Posted On</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">Start Date</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">End Date</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">Category</th>
                     </tr>
                  </thead>
                  <tbody class="divide-y divide-gray-150">
                     {% for gig in mygigs %}
                     <tr class="bg-gray-100">
                        <td scope="row" class="p-3 text-sm text-gray-700 whitespace-nowrap"><a
                              href="{{ url_for('details', id=gig.get_gigID()) }}"
                              class="font-bold text-blue-500 conditional-hyphens hover:underline">{{ gig.get_title() }}</a></td>
                        <td scope="row" class="p-3 text-sm text-gray-700 whitespace-nowrap">{{ gig.get_post_date() }}
                        </td>
                        <td scope="row" class="p-3 text-sm text-gray-700 whitespace-nowrap">{{ gig.get_fromdate() }}
                        </td>
                        <td scope="row" class="p-3 text-sm text-gray-700 whitespace-nowrap">{{ gig.get_til_date() }}
                        </td>
                        <td scope="row" class="p-3 text-sm text-gray-700 whitespace-nowrap">
                           {% if gig.get_category() == 'teaching' %}
                           <span
                              class="p-2 text-xs font-medium uppercase tracking-wider text-blue-800 bg-blue-200 rounded-lg bg-opacity-50">
                              Teaching
                           </span>
                           {% elif gig.get_category() == 'research' %}
                           <span
                              class="p-2 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50">
                              Research
                           </span>
                           {% elif gig.get_category() == 'technical' %}
                           <span
                              class="p-2 text-xs font-medium uppercase tracking-wider text-yellow-800 bg-yellow-200 rounded-lg bg-opacity-50">
                              Technical
                           </span>
                           {% elif gig.get_category() == 'writing' %}
                           <span
                              class="p-2 text-xs font-medium uppercase tracking-wider text-red-800 bg-red-200 rounded-lg bg-opacity-50">
                              Writing
                           </span>
                           {% elif gig.get_category() == 'graphic_design' %}
                           <span
                              class="p-2 text-xs font-medium uppercase tracking-wider text-purple-800 bg-purple-200 rounded-lg bg-opacity-50">
                              Graphic Design
                           </span>
                           {% elif gig.get_category() == 'photography_film' %}
                           <span
                              class="p-2 text-xs font-medium uppercase tracking-wider text-pink-800 bg-pink-200 rounded-lg bg-opacity-50">
                              Photography/Film
                           </span>
                           {% elif gig.get_category() == 'events' %}
                           <span
                              class="p-2 text-xs font-medium uppercase tracking-wider text-indigo-800 bg-indigo-200 rounded-lg bg-opacity-50">
                              Events
                           </span>
                           {% elif gig.get_category() == 'marketing' %}
                           <span
                              class="p-2 text-xs font-medium uppercase tracking-wider text-gray-800 bg-gray-200 rounded-lg bg-opacity-50">
                              Marketing
                           </span>
                           {% elif gig.get_category() == 'administrative' %}
                           <span
                              class="p-2 text-xs font-medium uppercase tracking-wider text-blue-800 bg-blue-200 rounded-lg bg-opacity-50">
                              Administrative
                           </span>
                           {% elif gig.get_category() == 'volunteer' %}
                           <span
                              class="p-2 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50">
                              Volunteer
                           </span>
                           {% elif gig.get_category() == 'fitness' %}
                           <span
                              class="p-2 text-xs font-medium uppercase tracking-wider text-yellow-800 bg-yellow-200 rounded-lg bg-opacity-50">
                              Fitness
                           </span>
                           {% elif gig.get_category() == 'other' %}
                           <span
                              class="p-2 text-xs font-medium uppercase tracking-wider text-red-800 bg-red-200 rounded-lg bg-opacity-50">
                              Other
                           </span>
                           {% endif %}
                        </td>
                     </tr>
                     {% endfor %}
                  </tbody>
               </table>
               <!-- Pagination Controls for My Gigs -->
               <div id="myGigsTableControls" class="flex justify-center space-x-1 mt-4">
                  <button onclick="paginate('prev', 'myGigsTable')" id="prevMyGigs"
                     class="px-3 py-1 rounded-md bg-white text-indigo-600 hover:bg-indigo-100">Previous</button>
                  <span id="myGigsTablePageNumber" class="px-3 py-1">1</span>
                  <button onclick="paginate('next', 'myGigsTable')" id="nextMyGigs"
                     class="px-3 py-1 rounded-md bg-white text-indigo-600 hover:bg-indigo-100">Next</button>
               </div>
            </div>
            <div id="Table2" class="tab-content w-full conditional-hyphens" style="hyphens: auto; display:none">
               <table id="myAppsTable" class="w-full">
                  <thead class="bg-gray-200 border-b-2 border-gray-200">
                     <tr>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">Gig Title</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">Application Message</th>
                     </tr>
                  </thead>
                  <tbody class="divide-y divide-gray-150">
                     {% for app in myapps %}
                     <tr class="bg-gray-100">
                        <td scope="row" class="p-3 text-sm text-gray-700"><a
                              href="{{ url_for('details', id=app.get_gigID()) }}"
                              class="font-bold text-blue-500 hover:underline">{{
                              get_this_gig(app.get_gigID()).get_title() }}</a></td>
                        <td scope="row" class="p-3 text-sm text-gray-700 conditional-hyphens">{{
                           app.get_message() }}</td>
                     </tr>
                     {% endfor %}
                  </tbody>
               </table>
               <!-- Pagination Controls for My Apps -->
               <div id="myAppsTableControls" class="flex justify-center space-x-1 mt-4">
                  <button onclick="paginate('prev', 'myAppsTable')" id="prevMyApps"
                     class="px-3 py-1 rounded-md bg-white text-indigo-600 hover:bg-indigo-100">Previous</button>
                  <span id="myAppsTablePageNumber" class="px-3 py-1">1</span>
                  <button onclick="paginate('next', 'myAppsTable')" id="nextMyApps"
                     class="px-3 py-1 rounded-md bg-white text-indigo-600 hover:bg-indigo-100">Next</button>
               </div>
            </div>
            <div id="Table3" class="tab-content w-full" style="display:none">
               <table id="myBookmarksTable" class="w-full">
                  <thead class="bg-gray-200 border-b-2 border-gray-200">
                     <tr>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">Gig Title</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">Posted On</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">Start Date</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">End Date</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">Category</th>
                     </tr>
                  </thead>
                  <tbody class="divide-y divide-gray-150">
                     {% for gig in mybookmarks %}
                     <tr class="bg-gray-100">
                        <td scope="row" class="p-3 text-sm text-gray-700 whitespace-nowrap"><a
                              href="{{ url_for('details', id=gig.get_gigID()) }}"
                              class="font-bold text-blue-500 hover:underline">{{ gig.get_title() }}</a></td>
                        <td scope="row" class="p-3 text-sm text-gray-700 whitespace-nowrap">{{ gig.get_post_date() }}
                        </td>
                        <td scope="row" class="p-3 text-sm text-gray-700 whitespace-nowrap">{{ gig.get_fromdate() }}
                        </td>
                        <td scope="row" class="p-3 text-sm text-gray-700 whitespace-nowrap">{{ gig.get_til_date() }}
                        </td>
                        <td scope="row" class="p-3 text-sm text-gray-700 whitespace-nowrap">
                           {% if gig.get_category() == 'teaching' %}
                           <span
                              class="p-2 text-xs font-medium uppercase tracking-wider text-blue-800 bg-blue-200 rounded-lg bg-opacity-50">
                              Teaching
                           </span>
                           {% elif gig.get_category() == 'research' %}
                           <span
                              class="p-2 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50">
                              Research
                           </span>
                           {% elif gig.get_category() == 'technical' %}
                           <span
                              class="p-2 text-xs font-medium uppercase tracking-wider text-yellow-800 bg-yellow-200 rounded-lg bg-opacity-50">
                              Technical
                           </span>
                           {% elif gig.get_category() == 'writing' %}
                           <span
                              class="p-2 text-xs font-medium uppercase tracking-wider text-red-800 bg-red-200 rounded-lg bg-opacity-50">
                              Writing
                           </span>
                           {% elif gig.get_category() == 'graphic_design' %}
                           <span
                              class="p-2 text-xs font-medium uppercase tracking-wider text-purple-800 bg-purple-200 rounded-lg bg-opacity-50">
                              Graphic Design
                           </span>
                           {% elif gig.get_category() == 'photography_film' %}
                           <span
                              class="p-2 text-xs font-medium uppercase tracking-wider text-pink-800 bg-pink-200 rounded-lg bg-opacity-50">
                              Photography/Film
                           </span>
                           {% elif gig.get_category() == 'events' %}
                           <span
                              class="p-2 text-xs font-medium uppercase tracking-wider text-indigo-800 bg-indigo-200 rounded-lg bg-opacity-50">
                              Events
                           </span>
                           {% elif gig.get_category() == 'marketing' %}
                           <span
                              class="p-2 text-xs font-medium uppercase tracking-wider text-gray-800 bg-gray-200 rounded-lg bg-opacity-50">
                              Marketing
                           </span>
                           {% elif gig.get_category() == 'administrative' %}
                           <span
                              class="p-2 text-xs font-medium uppercase tracking-wider text-blue-800 bg-blue-200 rounded-lg bg-opacity-50">
                              Administrative
                           </span>
                           {% elif gig.get_category() == 'volunteer' %}
                           <span
                              class="p-2 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50">
                              Volunteer
                           </span>
                           {% elif gig.get_category() == 'fitness' %}
                           <span
                              class="p-2 text-xs font-medium uppercase tracking-wider text-yellow-800 bg-yellow-200 rounded-lg bg-opacity-50">
                              Fitness
                           </span>
                           {% elif gig.get_category() == 'other' %}
                           <span
                              class="p-2 text-xs font-medium uppercase tracking-wider text-red-800 bg-red-200 rounded-lg bg-opacity-50">
                              Other
                           </span>
                           {% endif %}
                        </td>
                     </tr>
                     {% endfor %}
                  </tbody>
               </table>
               <!-- Pagination Controls for My Bookmarks -->
               <div id="myBookmarksTableControls" class="flex justify-center space-x-1 mt-4">
                  <button onclick="paginate('prev', 'myBookmarksTable')" id="prevMyBookmarks"
                     class="px-3 py-1 rounded-md bg-white text-indigo-600 hover:bg-indigo-100">Previous</button>
                  <span id="myBookmarksTablePageNumber" class="px-3 py-1">1</span>
                  <button onclick="paginate('next', 'myBookmarksTable')" id="nextMyBookmarks"
                     class="px-3 py-1 rounded-md bg-white text-indigo-600 hover:bg-indigo-100">Next</button>
               </div>
            </div>
         </div>
      </section>


   </main>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <script>
      'use strict'

      // section either bio or links
      function editProfile(section) {
         if (section === 'bio') {
            $('#bioDisplay').attr('hidden', '')
            $('#bioEditButton').attr('hidden', '')
            $('#bioEditForm').removeAttr('hidden')
            // Focus on the bio text field and move cursor to the end of the text
            var bioInput = $('#bioEditForm').find('textarea, input[type="text"]').first();
            var bioText = bioInput.val();
            bioInput.focus().val('').val(bioText); // Reset and set the value to move cursor to end
         }
         else if (section === 'links') {
            $('#linksDisplay').attr('hidden', '')
            $('#linksEditButton').attr('hidden', '')
            $('#linkEditForm').removeAttr('hidden')
         }
         else if (section === 'specialty') {
            $('#specialtyBtn').attr('hidden', '')
            $('#specialtySelectForm').removeAttr('hidden')
         }
      }

      function handleBioResponse(data) {
         $('#bioSection').html(data)
         $('#bioEditButton').on('click', function () { editProfile('bio'); })
         // I might switch the logic here later (instead of readding event listeners, sth else)
         $('#bioEditForm').on('submit', function (e) { changeBio(e); });
      }

      function handleBioError() {
         alert('Error: Failed to update data on server');

         $('#bioEditForm').find(':submit').prop('disabled', false);
      }

      function changeBio(e) {
         e.preventDefault()
         $('#bioEditForm').find(':submit').prop('disabled', true);

         let url = '/editbio'
         let requestData = {
            type: 'POST',
            url: url,
            data: $('#bioEditForm').serialize(),
            success: handleBioResponse,
            error: handleBioError,
         }
         $.ajax(requestData)
      }

      function handleLinkResponse(data) {
         $('#linksSection').html(data)
         $('#linksEditButton').on('click', function () { editProfile('links'); })
         // I might switch the logic here later (instead of readding event listeners, sth else)
         $('#linkEditForm').on('submit', function (e) { changeLinks(e); });
      }

      function handleLinkError() {
         alert('Error: Failed to update data on server');
         $('#linkEditForm').find(':submit').prop('disabled', false);
      }

      function changeLinks(e) {
         e.preventDefault()
         $('#linkEditForm').find(':submit').prop('disabled', true);

         let url = '/editlinks'
         let requestData = {
            type: 'POST',
            url: url,
            data: $('#linkEditForm').serialize(),
            success: handleLinkResponse,
            error: handleLinkError,
         }
         $.ajax(requestData)
      }

      function handleSpecialtyResponse(data) {
         $('#specialtyBtn').html(data)
         $('#specialtyBtn').removeAttr('hidden')
         $('#specialtySelectForm').attr('hidden', '')

         $('#specialtySelectForm').find(':submit').prop('disabled', false);
      }

      function handleSpecialtyError() {
         alert('Error: Failed to update data on server');

         $('#specialtySelectForm').find(':submit').prop('disabled', false);
      }

      function changeSpecialty(e) {
         e.preventDefault()
         $('#specialtySelectForm').find(':submit').prop('disabled', true);

         let url = '/changespecialty'
         let requestData = {
            type: 'POST',
            url: url,
            data: $('#specialtySelectForm').serialize(),
            success: handleSpecialtyResponse,
            error: handleSpecialtyError
         }
         $.ajax(requestData)
      }

      const rowsPerPage = 5; // Number of rows to display per page

      function paginate(direction, tableId) {
         const table = document.getElementById(tableId);
         const rows = table.getElementsByTagName('tbody')[0].getElementsByTagName('tr');
         const maxPage = Math.ceil(rows.length / rowsPerPage);
         let pageNumberId = tableId + 'PageNumber';
         let currentPage = parseInt(document.getElementById(pageNumberId).innerText);

         if (direction === 'next' && currentPage < maxPage) {
            currentPage++;
         } else if (direction === 'prev' && currentPage > 1) {
            currentPage--;
         }

         // Calculate start and end index for the rows to show
         const start = (currentPage - 1) * rowsPerPage;
         const end = currentPage * rowsPerPage;

         // Hide all rows
         for (let i = 0; i < rows.length; i++) {
            rows[i].style.display = 'none';
         }

         // Show only the rows for the current page
         for (let i = start; i < end && i < rows.length; i++) {
            rows[i].style.display = '';
         }

         // Update the current page number
         document.getElementById(pageNumberId).innerText = currentPage;

         // Update the visibility of Previous and Next buttons
         let prevButtonId = 'prev' + tableId.charAt(0).toUpperCase() + tableId.slice(1);
         let nextButtonId = 'next' + tableId.charAt(0).toUpperCase() + tableId.slice(1);
         document.getElementById(prevButtonId).style.display = (currentPage === 1) ? 'none' : '';
         document.getElementById(nextButtonId).style.display = (currentPage >= maxPage) ? 'none' : '';
      }


      // Call this function on page load to setup initial view
      document.addEventListener('DOMContentLoaded', function () {
         setupPagination('myGigsTable');
         setupPagination('myAppsTable');
         setupPagination('myBookmarksTable');
      });

      function setupPagination(tableId) {
         const table = document.getElementById(tableId);
         const rows = table.getElementsByTagName('tbody')[0].getElementsByTagName('tr');
         const maxPage = Math.ceil(rows.length / rowsPerPage);
         const paginationControls = document.getElementById(tableId + 'Controls');

         // Clear existing buttons
         paginationControls.innerHTML = '';

         if (rows.length > rowsPerPage) {
            // Create and append buttons to paginationControls
            for (let i = 1; i <= maxPage; i++) {
               const pageButton = document.createElement('button');
               pageButton.innerText = i;
               pageButton.className = 'px-3 py-1 rounded-md bg-white text-indigo-600 hover:bg-indigo-100';
               pageButton.onclick = function () { paginateToPage(i, tableId); };
               paginationControls.appendChild(pageButton);
            }
         }
         paginateToPage(1, tableId)
      }

      function paginateToPage(pageNumber, tableId) {
         const table = document.getElementById(tableId);
         const rows = table.getElementsByTagName('tbody')[0].getElementsByTagName('tr');

         // Calculate start and end index for the rows to show
         const start = (pageNumber - 1) * rowsPerPage;
         const end = pageNumber * rowsPerPage;

         // Hide all rows and show the ones for the current page
         for (let i = 0; i < rows.length; i++) {
            rows[i].style.display = i >= start && i < end ? '' : 'none';
         }
      }

      function setup() {
         console.log('setup complete');
         $('#bioEditForm').find('textarea[name="bio"]').val('{{ bio }}');

         $('#bioEditButton').on('click', function () { editProfile('bio'); })
         $('#linksEditButton').on('click', function () { editProfile('links'); })
         $('#specialtyBtn').on('click', function () { editProfile('specialty'); })

         $('#bioEditForm').on('submit', function (e) { changeBio(e); });
         $('#linkEditForm').on('submit', function (e) { changeLinks(e); });
         $('#specialtySelectForm').on('submit', function (e) { changeSpecialty(e); })
      }

      document.addEventListener('DOMContentLoaded', setup)

      $(document).ready(function () {
         $('#toggleVisibilityBtn').click(function () {
            var btn = $(this);
            // Change button appearance immediately
            if (btn.hasClass('btn-visible')) {
               btn.removeClass('btn-visible').addClass('btn-invisible').text('Invisible');
            } else {
               btn.removeClass('btn-invisible').addClass('btn-visible').text('Visible');
            }
            // AJAX request to update the server
            $.ajax({
               type: 'POST',
               url: '{{ url_for("profile") }}',
               data: { toggle_visibility: 'true' },
               success: function (response) {
                  // Additional actions on success, if needed
               }
            });
         });
      });
   </script>

</body>

</html>