<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!--will scale to diff browser sizes-->
   <title>gigl</title>
   <!--title on browser window-->
   <style>
      /* Basic styling for the title */
      .collapsible-title {
         cursor: pointer;
         color: #3498db;
      }

      /* Hide the checkbox */
      .collapsible-toggle {
         display: none;
      }

      /* By default, hide the collapsible content */
      .collapsible-content {
         display: none;
         list-style-type: none;
         padding: 0;
         margin: 0;
      }

      /* Display the content when the checkbox is checked */
      .collapsible-toggle:checked+.collapsible-content {
         display: block;
      }

      section {
         margin: 0 auto;
         width: 80%;
         padding: 1em;
      }
   </style>


   <script>
      function openTab(event, tabName) {
         var tabcontent = document.getElementsByClassName("tab-content");
         for (var i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
         }

         var tablinks = document.getElementsByClassName("tab-link");
         for (var i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" bg-gray-300 border border-blue-500", "");
         }

         document.getElementById(tabName).style.display = "block";
         event.currentTarget.className += " bg-gray-300 border border-blue-500";
      }
   </script>
   <!-- Including the styles from index.css -->
</head>

<body>
   {% include 'header.html' %} <!--JINJA2 template for the header-->
   <main>
      <br>
      <section class="rounded-lg bg-gray-100 border border-gray-100">
         <div class="flex justify-between items-center p-4">
            <div>
               <h2 class="text-xl font-bold"> Your Profile </h2>
               <h3> Name: {{username}} </h3>
               <h3> Email: {{user_email}} </h3>
            </div>
            <!-- Toggle Visibility Form -->
            <div>
               <form action="{{ url_for('profile') }}" method="post">
                  <input type="hidden" name="toggle_visibility" value="1">
                  <button type="submit" class="bg-orange-200 hover:bg-orange-300 text-orange-800 py-2 px-4 rounded">
                     {{ 'Make Visible' if not is_visible else 'Make Invisible' }}
                  </button>
                  <p class="text-sm text-gray-600 mt-1">
                     Your freelancer profile is {{ 'invisible' if not is_visible else 'visible for search' }}.
                  </p>
               </form>
            </div>
         </div>
      </section>
      <br>
      <section id="bioSection" class="rounded-lg bg-gray-100 border border-gray-200">
         <div class="flex justify-between items-center p-4">
            <div class="mb-4">
               <h2 class="text-xl font-bold">Bio:</h2>
               <p id="bioDisplay" class="mt-2">
                  {{ bio }}
               </p>
               <form hidden id="bioEditForm" method="post">
                  {{ bioeditform.hidden_tag() }}
                  <div class="flex space-x-10">
                     {{ bioeditform.bio(class_="border border-gray-200 p-2 w-full rounded-lg focus:outline-none
                     focus:border-teal-500", rows=1) }}
                     {{ bioeditform.submit(class_="p-2 w-auto rounded-lg bg-purple-200") }}
                  </div>
               </form>
            </div>
            <div>
               <button id="bioEditButton" class="bg-orange-200 hover:bg-orange-300 text-orange-800 py-2 px-4 rounded">
                  Edit
               </button>
            </div>
         </div>
      </section>
      <br>
      <section id="linksSection" class="rounded-lg bg-gray-100 border border-gray-200">
         <div class="flex justify-between items-center p-4">
            <div>
               <h2 class="text-xl font-bold">Links:</h2>
               <ul id="linksDisplay" class="list-inside list-disc mt-2">
                  {% for link in links %}
                  <li class="hover:text-orange-500 mt-1">
                     <a href="{{ link }}" class="transition-colors duration-200">{{ link }}</a>
                  </li>
                  {% endfor %}
               </ul>
               <form hidden id="linkEditForm" method="post">
                  {{ linkeditform.hidden_tag() }}
                  <div class="flex flex-col space-y-4">
                     {{ linkeditform.link1(class_="border border-gray-200 p-2 w-full rounded-lg focus:outline-none
                     focus:border-teal-500", id="link1", value=links[0] if links|length>0 else '') }}
                     {{ linkeditform.link2(class_="border border-gray-200 p-2 w-full rounded-lg focus:outline-none
                     focus:border-teal-500", id="link2", value=links[1] if links|length>1 else '') }}
                     {{ linkeditform.link3(class_="border border-gray-200 p-2 w-full rounded-lg focus:outline-none
                     focus:border-teal-500", id="link3", value=links[2] if links|length>2 else '') }}
                     {{ linkeditform.link4(class_="border border-gray-200 p-2 w-full rounded-lg focus:outline-none
                     focus:border-teal-500", id="link4", value=links[3] if links|length>3 else '') }}
                     {{ linkeditform.submit(class_="p-2 mt-2 w-auto rounded-lg bg-purple-200") }}

                  </div>
               </form>
            </div>
            <div>
               <button id="linksEditButton" type="submit"
                  class="bg-orange-200 hover:bg-orange-300 text-orange-800 py-2 px-4 rounded">
                  Edit
               </button>
            </div>
         </div>
      </section>
      <section>
         <div class="flex flex-col items-center justify-center">
            <!-- Tabs -->
            <div class="mb-4 space-x-10">
               <button class="tab-link px-4 py-2 font-semibold bg-gray-200 focus:outline-none hover:bg-gray-300"
                  onclick="openTab(event, 'Table1')">My Gigs</button>
               <button class="tab-link px-4 py-2 font-semibold bg-gray-200 focus:outline-none hover:bg-gray-300"
                  onclick="openTab(event, 'Table2')">My Apps</button>
            </div>

            <!-- Content -->
            <div id="Table1" class="tab-content w-full" style="display:block">
               <table class="w-full">
                  <thead class="bg-gray-200 border-b-2 border-gray-200">
                     <tr>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">Gig Title</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">Posted On</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">Start Date</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">End Date</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">Category</th>
                     </tr>
                  </thead>
                  <tbody class="divide-y divide-gray-150">
                     {% for gig in mygigs %}
                     <tr class="bg-gray-100">
                        <td scope="row" class="p-3 text-sm text-gray-700 whitespace-nowrap"><a
                              href="{{ url_for('details', id=gig.get_gigID()) }}"
                              class="font-bold text-blue-500 hover:underline">{{ gig.get_title() }}</a></td>
                        <td scope="row" class="p-3 text-sm text-gray-700 whitespace-nowrap">{{ gig.get_post_date() }}
                        </td>
                        <td scope="row" class="p-3 text-sm text-gray-700 whitespace-nowrap">{{ gig.get_fromdate() }}
                        </td>
                        <td scope="row" class="p-3 text-sm text-gray-700 whitespace-nowrap">{{ gig.get_til_date() }}
                        </td>
                        <td scope="row" class="p-3 text-sm text-gray-700 whitespace-nowrap">
                           {% if gig.get_category() == 'teaching' %}
                           <span
                              class="p-2 text-xs font-medium uppercase tracking-wider text-blue-800 bg-blue-200 rounded-lg bg-opacity-50">
                              Teaching
                           </span>
                           {% elif gig.get_category() == 'research' %}
                           <span
                              class="p-2 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50">
                              Research
                           </span>
                           {% elif gig.get_category() == 'technical' %}
                           <span
                              class="p-2 text-xs font-medium uppercase tracking-wider text-yellow-800 bg-yellow-200 rounded-lg bg-opacity-50">
                              Technical
                           </span>
                           {% elif gig.get_category() == 'writing' %}
                           <span
                              class="p-2 text-xs font-medium uppercase tracking-wider text-red-800 bg-red-200 rounded-lg bg-opacity-50">
                              Writing
                           </span>
                           {% elif gig.get_category() == 'graphic_design' %}
                           <span
                              class="p-2 text-xs font-medium uppercase tracking-wider text-purple-800 bg-purple-200 rounded-lg bg-opacity-50">
                              Graphic Design
                           </span>
                           {% elif gig.get_category() == 'photography_film' %}
                           <span
                              class="p-2 text-xs font-medium uppercase tracking-wider text-pink-800 bg-pink-200 rounded-lg bg-opacity-50">
                              Photography/Film
                           </span>
                           {% elif gig.get_category() == 'events' %}
                           <span
                              class="p-2 text-xs font-medium uppercase tracking-wider text-indigo-800 bg-indigo-200 rounded-lg bg-opacity-50">
                              Events
                           </span>
                           {% elif gig.get_category() == 'marketing' %}
                           <span
                              class="p-2 text-xs font-medium uppercase tracking-wider text-gray-800 bg-gray-200 rounded-lg bg-opacity-50">
                              Marketing
                           </span>
                           {% elif gig.get_category() == 'administrative' %}
                           <span
                              class="p-2 text-xs font-medium uppercase tracking-wider text-blue-800 bg-blue-200 rounded-lg bg-opacity-50">
                              Administrative
                           </span>
                           {% elif gig.get_category() == 'volunteer' %}
                           <span
                              class="p-2 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50">
                              Volunteer
                           </span>
                           {% elif gig.get_category() == 'fitness' %}
                           <span
                              class="p-2 text-xs font-medium uppercase tracking-wider text-yellow-800 bg-yellow-200 rounded-lg bg-opacity-50">
                              Fitness
                           </span>
                           {% elif gig.get_category() == 'other' %}
                           <span
                              class="p-2 text-xs font-medium uppercase tracking-wider text-red-800 bg-red-200 rounded-lg bg-opacity-50">
                              Other
                           </span>
                           {% endif %}
                        </td>
                     </tr>
                     {% endfor %}
                  </tbody>
               </table>
            </div>
            <div id="Table2" class="tab-content w-full" style="display:none">
               <table class="w-full">
                  <thead class="bg-gray-200 border-b-2 border-gray-200">
                     <tr>
                        <th class="w-20 p-3 text-sm font-semibold tracking-wide text-left">Gig ID</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">Application Message</th>
                     </tr>
                  </thead>
                  <tbody class="divide-y divide-gray-150">
                     {% for app in myapps %}
                     <tr class="bg-gray-100">
                        <td scope="row" class="p-3 text-sm text-gray-700 whitespace-nowrap"><a
                              href="{{ url_for('details', id=app.get_gigID()) }}"
                              class="font-bold text-blue-500 hover:underline">#{{ app.get_gigID() }}</a></td>
                        <td scope="row" class="p-3 text-sm text-gray-700 whitespace-nowrap">{{ app.get_message() }}</td>
                     </tr>
                     {% endfor %}
                  </tbody>
               </table>
            </div>
         </div>
      </section>


   </main>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <script>
      'use strict'

      // section either bio or links
      function editProfile(section) {
         if (section === 'bio') {
            $('#bioDisplay').attr('hidden', '')
            $('#bioEditButton').attr('hidden', '')
            $('#bioEditForm').removeAttr('hidden')
         }
         else if (section === 'links') {
            $('#linksDisplay').attr('hidden', '')
            $('#linksEditButton').attr('hidden', '')
            $('#linkEditForm').removeAttr('hidden')
         }
      }
      function handleBioResponse(data) {
         $('#bioSection').html(data)
         $('#bioEditButton').on('click', function () { editProfile('bio'); })
         // I might switch the logic here later (instead of readding event listeners, sth else)
         $('#bioEditForm').on('submit', function (e) { changeBio(e); });
      }

      function handleBioError() {
         alert('Error: Failed to update data on server')
      }

      function changeBio(e) {
         e.preventDefault()
         console.log('Reached change bio function');
         let url = '/editbio'
         let requestData = {
            type: 'POST',
            url: url,
            data: $('#bioEditForm').serialize(),
            success: handleBioResponse,
            error: handleBioError,
         }
         $.ajax(requestData)
      }

      function handleLinkResponse(data) {
         $('#linksSection').html(data)
         $('#linksEditButton').on('click', function () { editProfile('links'); })
         // I might switch the logic here later (instead of readding event listeners, sth else)
         $('#linkEditForm').on('submit', function (e) { changeLinks(e); });
      }

      function handleLinkError() {
         alert('Error: Failed to update data on server')
      }

      function changeLinks(e) {
         e.preventDefault()
         let url = '/editlinks'
         let requestData = {
            type: 'POST',
            url: url,
            data: $('#linkEditForm').serialize(),
            success: handleLinkResponse,
            error: handleLinkError,
         }
         $.ajax(requestData)
      }

      function setup() {
         console.log('setup complete');
         $('#bioEditButton').on('click', function () { editProfile('bio'); })
         $('#linksEditButton').on('click', function () { editProfile('links'); })

         $('#bioEditForm').on('submit', function (e) { changeBio(e); });
         $('#linkEditForm').on('submit', function (e) { changeLinks(e); });
      }

      document.addEventListener('DOMContentLoaded', setup)
   </script>
</body>

</html>