<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--will scale to diff browser sizes-->
    <title>Gigl</title>
</head>

<body>
    {% include 'header.html' %}
    <form action="/searchresults" method="GET">
        <input type="text" name="keyword" value="{{ kw }}" placeholder="Search for gigs...">
        <!--allows for dropdown with multiple selects, initially displaying "Category"-->
        <!--PROBLEM: MULTIPLE SELECTS NOT AVAILABLE WITHOUT JAVASCRIPT-->
        <select name="category">
            <!-- Placeholder option -->
            <option value="" {{ 'selected' if cat=='' else '' }}>Any Category</option>
            <!-- Categories options -->
            <option value="teaching" {{ 'selected' if cat=='teaching' else '' }}>Teaching</option>
            <option value="research" {{ 'selected' if cat=='research' else '' }}>Research</option>
            <option value="technical" {{ 'selected' if cat=='technical' else '' }}>Technical</option>
            <option value="writing" {{ 'selected' if cat=='writing' else '' }}>Writing</option>
            <option value="graphic_design" {{ 'selected' if cat=='graphic_design' else '' }}>Graphic Design</option>
            <option value="photography_film" {{ 'selected' if cat=='photography_film' else '' }}>Photography/Film
            </option>
            <option value="events" {{ 'selected' if cat=='events' else '' }}>Events</option>
            <option value="marketing" {{ 'selected' if cat=='marketing' else '' }}>Marketing</option>
            <option value="administrative" {{ 'selected' if cat=='administrative' else '' }}>Administrative</option>
            <option value="volunteer" {{ 'selected' if cat=='volunteer' else '' }}>Volunteer</option>
            <option value="fitness" {{ 'selected' if cat=='fitness' else '' }}>Fitness</option>
            <option value="other" {{ 'selected' if cat=='other' else '' }}>Other</option>
        </select>
        <input type="submit" value="Search">
    </form>
    <table class="table-auto">
        <thead>
          <tr>
            <th>Gig Title</th>
            <th>Posted On</th>
            <th>Start Date</th>
            <th>End Date</th>
          </tr>
        </thead>
        <tbody>
            {% for gig in mygigs %}
            <tr>g
                <td><a href="{{ url_for('details', id=gig.get_gigID()) }}" class="btn">{{ gig.get_title() }}</a></td>
                <td>{{ gig.get_post_date() }}</td>
                <td>{{ gig.get_fromdate() }}</td>
                <td>{{ gig.get_til_date() }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
</body>

</html>