<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!--will scale to diff browser sizes-->
   <title>gigl</title>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
   
   <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
   <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
   <link href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.css" rel="stylesheet"/>
   <script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.js"></script>
   <script type="text/javascript" charset="utf8"
      src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
   <style>
      section {
         margin: 0 auto;
         width: 80%;
         padding: 1em;
      }

      .conditional-hyphens {
         overflow-wrap: break-word;
         word-break: break-word;
         -webkit-hyphens: auto;
         -ms-hyphens: auto;
         hyphens: auto;
   
      }

    .text-custom {
      color: #0A2D85
    }
    .bg-button {
      background-color: #0A2D85;
    }

      .selectedButton {
         background-color: rgb(73, 121, 241);
         color: white;
      }

      .activePageButton {
        background-color: #4a5568; /* Darker color for active button */
        color: blue;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Optional shadow for emphasis */
    }
   </style>
   <script>
      // Global variable to store all rows
      // let sortStates = {};
      // let initialSortColumn = 1; // Assuming 'Posted On' is the second column (index 1)
      // let allRows = [];
      // const rowsPerPage = 5; // Adjust this as per your requirement


      // function initializeSortStates() {
      //    let table = document.getElementById("resultsTable");
      //    let headers = table.tHead.rows[0].cells;
      //    for (let i = 0; i < headers.length; i++) {
      //       sortStates[i] = undefined; // Initialize all sort states as undefined
      //    }
      // }

      // function sortColumn(th_id, isAscending) {
      //    // Sort all rows
      //    allRows.sort(function (a, b) {
      //       let textA = a.getElementsByTagName("TD")[th_id].textContent.toLowerCase();
      //       let textB = b.getElementsByTagName("TD")[th_id].textContent.toLowerCase();
      //       return isAscending ? textA.localeCompare(textB) : textB.localeCompare(textA);
      //    });

      //    // Reapply pagination to show the first page of sorted results
      //    paginateToPage(1);
      // }

      // function setupSearchResultsPagination() {
      //    const table = document.getElementById('resultsTable');
      //    allRows = Array.from(table.getElementsByTagName('tbody')[0].getElementsByTagName('tr'));
      //    sortColumn(initialSortColumn, true); // Sort initially by 'Posted On'
      //    const maxPage = Math.ceil(allRows.length / rowsPerPage);
      //    const paginationControls = document.getElementById('searchResultsPagination');
      //    paginationControls.innerHTML = '';

      //    for (let i = 1; i <= maxPage; i++) {
      //       const pageButton = document.createElement('button');
      //       pageButton.innerText = i;
      //       pageButton.className = 'px-3 py-1 rounded-md bg-white text-indigo-600 hover:bg-indigo-100';
      //       pageButton.onclick = function () { paginateToPage(i); };
      //       paginationControls.appendChild(pageButton);
      //    }
      //    paginateToPage(1);
      // }

      // function paginateToPage(pageNumber) {
      //    const table = document.getElementById('resultsTable');
      //    const tbody = table.getElementsByTagName('tbody')[0];
      //    const start = (pageNumber - 1) * rowsPerPage;
      //    const end = start + rowsPerPage;
      //    tbody.innerHTML = '';
      //    allRows.slice(start, end).forEach(row => tbody.appendChild(row));
      // }

      // document.addEventListener('DOMContentLoaded', function () {
      //    initializeSortStates();
      //    setupSearchResultsPagination();
      //    setupTableSort();
      // });


      // function sortTableByColumn(th_id) {
      //    let isAscending = sortStates[th_id] !== undefined ? !sortStates[th_id] : true; // Default to ascending on first click
      //    sortStates[th_id] = isAscending; // Update sort state
      //    sortColumn(th_id, isAscending);
      // }

      // function setupTableSort() {
      //    let table = document.getElementById("resultsTable");
      //    let headers = table.tHead.rows[0].cells;

      //    for (let i = 0; i < headers.length; i++) {
      //       headers[i].addEventListener('click', function () {
      //          sortTableByColumn(i);
      //       });
      //    }
      // }

      window.onpageshow = function (event) {
            if (event.persisted) {
                window.location.reload();
            }
        };
        
      function toggleBookmark(gigID, element) {
         const isBookmarked = element.classList.contains('fas');

         const url = isBookmarked ? '/remove_bookmark/' + gigID : '/add_bookmark/' + gigID;
         fetch(url, { method: 'POST' })
            .then(response => response.json())
            .then(data => {
               if (data.status === 'success') {
                  // Toggle the icon class based on the action
                  if (data.action === 'added') {
                     element.classList.remove('far');
                     element.classList.add('fas');
                  } else if (data.action === 'removed') {
                     element.classList.remove('fas');
                     element.classList.add('far');
                  }
                  else if (data.action === 'login') {
                     element.classList.remove('fas');
                     element.classList.add('far');
                  }
               } else {
                  console.error('Error in bookmark action:', data);
               }
            })
            .catch(error => console.error('Error:', error));
      }

      $(document).ready(function () {
         $('#resultsTable').DataTable({
            "ordering": true,
            "columnDefs": [
               {
                  "orderable": false,
                  "targets": -1
               },
               {
                  "width": "36px", "targets": -1
               },
               {
                  "width": "143px", "targets": -2
               },
               { "width": "90px", "targets": 1},
               { "width": "90px", "targets": 2},
               { "width": "90px", "targets": 3}
            ],
            "stateSave": true,
            "searching": false,
            "lengthChange": false,
            "info": false,
            "pagingType": "numbers",
            "scrollX": false,
            "scrollY": false,
            "createdRow": function (row, data, dataIndex) {
               $(row).addClass('bg-gray-100')
               $(row).find('td').addClass('p-3 text-sm text-gray-700 whitespace-nowrap break-all');
            },
            "drawCallback": function (settings) {
               $('#resultsTable_paginate').css({
                  'display': 'flex',
                  'justify-content': 'center',
                  'margin-top': '1em'
               })
               $('.dataTables_wrapper .dataTables_paginate').removeClass('dataTables_paginate');

               // // Apply Tailwind flexbox classes to the pagination container
               // $('.dataTables_wrapper .dataTables_paginate').addClass('flex justify-center space-x-1 mt-4');

                 // Remove the activePageButton class from all pagination buttons
                 $('.dataTables_wrapper .paginate_button').removeClass('text-red-600 hover:bg-red-100');

               $('.dataTables_wrapper .paginate_button').each(function () {
                  $(this).addClass("px-3 py-1 rounded-md bg-custom text-indigo-600 hover:bg-indigo-200");
               });

               $('.dataTables_wrapper .dataTables_paginate .paginate_button.current').addClass('selectedButton')

               // Add the new classes to the current page button
               $('.dataTables_wrapper .paginate_button.current').removeClass('text-indigo-600 hover:bg-indigo-100');

               // Add the new classes to the current page button
               $('.dataTables_wrapper .paginate_button.current').addClass('text-red-600 hover:bg-red-100');



            }
         });
         console.log("html turned to datatable in js")
      });
   </script>



</head>

<body class="bg-custom">
   {% include 'header.html' %}
   <section>
      <h1>Make Another Search</h1>
      <!-- Update the form to use WTForms -->
      <form method="POST">
         {{ search_form.hidden_tag() }}
         <div class="flex space-x-10">
            <!-- Render the keyword field using WTForms -->
            {{ search_form.keyword(class_="border border-gray-400 p-2 w-full rounded-lg focus:outline-none
            focus:border-blue-600", placeholder="Search for any gig now!", value=kw) }}

            <!-- Render the category select field using WTForms -->
            {{ search_form.category(class_="border border-gray-400 p-2 rounded-lg focus:outline-none
            focus:border-blue-600", value=cat) }}

            <!-- Render the submit button using WTForms -->
            {{ search_form.submit(class_="p-2 w-auto rounded-lg  font-semibold  bg-button text-white") }}
         </div>
      </form>
   </section>
   <section>
      <div style="display: flex; justify-content: space-between; align-items: center;">
         <h2>Search Results</h2>
         <span>To sort by mutiple columns, hold shift and click!</span>
      </div>
      <div class="overflow-auto rounded-lg">
         <table id="resultsTable" class="w-full border border-gray-400">
            <thead class="bg-gray-200 border-b-2 border-gray-200">
               <tr>
                  <th id="0" class="p-3 text-sm font-semibold tracking-wide text-left cursor-pointer">Gig Title
                  </th>
                  <th id="1" class="p-3 text-sm font-semibold tracking-wide text-left cursor-pointer">Posted On
                  </th>
                  <th id="2" class="p-3 text-sm font-semibold tracking-wide text-left cursor-pointer">Start Date
                  </th>
                  <th id="3" class="p-3 text-sm font-semibold tracking-wide text-left cursor-pointer">End Date
                  </th>
                  <th id="4" class="p-3 text-sm font-semibold tracking-wide text-left cursor-pointer">Category
                  </th>
                  <th></th>
               </tr>
            </thead>
            <tbody class="divide-y divide-gray-150">
               {% for gig in mygigs %}
               {% if not is_banned(gig.get_netid()): %}
               <tr class="bg-gray-100">
                  <td scope="row" class="p-3 text-sm text-gray-700 whitespace-nowrap conditional-hyphens">
                     <div>
                        <a href="{{ url_for('details', id=gig.get_gigID()) }}"
                           class="font-bold text-blue-500 conditional-hyphens hover:underline">
                           {{ gig.get_title() }}
                        </a>
                     </div>
                     <div class="text-gray-500">
                        {% set name = author(gig.get_netid()).get_name() %}
                        {% set profileID = profileIDChecker(gig.get_netid()) %}
                        {% if profileID %}
                        <a href="{{ url_for('freelancer_profile', netid=gig.get_netid()) }}"
                           class="text-gray-500 hover:underline">
                           by {{ name }}
                        </a>
                        {% else %}
                        by {{ name }}
                        {% endif %}
                     </div>
                  </td>
                  <td scope="row" class="p-3 text-sm text-gray-700 whitespace-nowrap">{{ gig.get_post_date() }}</td>
                  <td scope="row" class="p-3 text-sm text-gray-700 whitespace-nowrap">{{ gig.get_fromdate() }}</td>
                  <td scope="row" class="p-3 text-sm text-gray-700 whitespace-nowrap">{{ gig.get_til_date() }}</td>
                  <td scope="row" class="p-3 text-sm text-gray-700 whitespace-nowrap">
                     {% if gig.get_category() == 'teaching' %}
                     <span
                        class="p-2 text-xs font-medium uppercase tracking-wider text-blue-800 bg-blue-200 rounded-lg bg-opacity-50">
                        Teaching
                     </span>
                     {% elif gig.get_category() == 'research' %}
                     <span
                        class="p-2 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50">
                        Research
                     </span>
                     {% elif gig.get_category() == 'technical' %}
                     <span
                        class="p-2 text-xs font-medium uppercase tracking-wider text-yellow-800 bg-yellow-200 rounded-lg bg-opacity-50">
                        Technical
                     </span>
                     {% elif gig.get_category() == 'writing' %}
                     <span
                        class="p-2 text-xs font-medium uppercase tracking-wider text-red-800 bg-red-200 rounded-lg bg-opacity-50">
                        Writing
                     </span>
                     {% elif gig.get_category() == 'graphic_design' %}
                     <span
                        class="p-2 text-xs font-medium uppercase tracking-wider text-purple-800 bg-purple-200 rounded-lg bg-opacity-50">
                        Graphic Design
                     </span>
                     {% elif gig.get_category() == 'photography_film' %}
                     <span
                        class="p-2 text-xs font-medium uppercase tracking-wider text-pink-800 bg-pink-200 rounded-lg bg-opacity-50">
                        Photography/Film
                     </span>
                     {% elif gig.get_category() == 'events' %}
                     <span
                        class="p-2 text-xs font-medium uppercase tracking-wider text-indigo-800 bg-indigo-200 rounded-lg bg-opacity-50">
                        Events
                     </span>
                     {% elif gig.get_category() == 'marketing' %}
                     <span
                        class="p-2 text-xs font-medium uppercase tracking-wider text-gray-800 bg-gray-200 rounded-lg bg-opacity-50">
                        Marketing
                     </span>
                     {% elif gig.get_category() == 'administrative' %}
                     <span
                        class="p-2 text-xs font-medium uppercase tracking-wider text-blue-800 bg-blue-200 rounded-lg bg-opacity-50">
                        Administrative
                     </span>
                     {% elif gig.get_category() == 'volunteer' %}
                     <span
                        class="p-2 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50">
                        Volunteer
                     </span>
                     {% elif gig.get_category() == 'fitness' %}
                     <span
                        class="p-2 text-xs font-medium uppercase tracking-wider text-yellow-800 bg-yellow-200 rounded-lg bg-opacity-50">
                        Fitness
                     </span>
                     {% elif gig.get_category() == 'other' %}
                     <span
                        class="p-2 text-xs font-medium uppercase tracking-wider text-red-800 bg-red-200 rounded-lg bg-opacity-50">
                        Other
                     </span>
                     {% endif %}
                  </td>
                  <td class="p-3 text-center">
                     <i class="{{ 'fas' if is_bookmarked(netid, gig.get_gigID()) else 'far' }} fa-bookmark"
                        onclick="toggleBookmark('{{ gig.get_gigID() }}', this)"></i>
                  </td>
               </tr>
               {% endif %}
               {% endfor %}
            </tbody>
         </table>
         <div id="searchResultsPagination" class="flex justify-center space-x-1 mt-4"></div>
      </div>
   </section>
</body>

</html>
