<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!--will scale to diff browser sizes-->
   <title>gigl</title>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
   <style>
      section {
         margin: 0 auto;
         width: 80%;
         padding: 1em;
      }
   </style>
   <script>
         window.onpageshow = function(event) {
       if (event.persisted) {
           window.location.reload();
       }
   };
      let sortStates = {};
      // OLD SORT FUNCTION IGNORE THIS 
      function sortTable(th_id) {
         var table, rows, headers, i, x, y, shouldSwitch, dir, switchcount = 0;
         table = document.getElementById("resultsTable");
         headers = table.querySelectorAll("th");
         var column = Array.from(headers).findIndex(header => header.id === th_id);
         var switching = true;
         dir = "asc";

         while (switching) {
            switching = false;
            rows = table.rows;

            for (i = 1; i < (rows.length - 1); i++) {
               shouldSwitch = false;
               x = rows[i].getElementsByTagName("TD")[column].textContent.toLowerCase();
               y = rows[i + 1].getElementsByTagName("TD")[column].textContent.toLowerCase();

               if (dir == "asc") {
                  if (x > y) {
                     shouldSwitch = true;
                     break;
                  }
               } else if (dir == "desc") {
                  if (x < y) {
                     shouldSwitch = true;
                     break;
                  }
               }
            }

            if (shouldSwitch) {
               rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
               switching = true;
               switchcount++;
            } else {
               if (switchcount == 0 && dir == "asc") {
                  dir = "desc";
                  switching = true;
               }
            }
         }
      }
      // END OF OLD SORT FUNCTION, actual sorting happens below
      function sortColumn(th_id, isAscending) {
         let table = document.getElementById("resultsTable");
         let headers = table.querySelectorAll("th");
         const column = Array.from(headers).findIndex(header => header.id === th_id);
         let tbody = table.tBodies[0];
         let rows = Array.from(tbody.rows)

         // sort dat
         rows.sort(function (a, b) {
            let textA = a.getElementsByTagName("TD")[column].textContent.toLowerCase();
            let textB = b.getElementsByTagName("TD")[column].textContent.toLowerCase();
            return isAscending ? textA.localeCompare(textB) : textB.localeCompare(textA);
         });

         rows.forEach(function (row) {
            tbody.appendChild(row); // recreate rows
         });
      }

      function sortTableByColumn(th_id) {
         let table = document.getElementById("resultsTable");
         let headers = table.querySelectorAll("th");
         const column = Array.from(headers).findIndex(header => header.id === th_id)
         let isAscending = sortStates[column] = !sortStates[column]; // cool toggl trick
         sessionStorage.setItem('search_sortState', JSON.stringify(sortStates));
         sortColumn(th_id, isAscending);
      }

      function setupTableSort() {
         let table = document.getElementById("resultsTable");
         let headers = table.tHead.rows[0].cells;
         // load saved sort state
         let savedSortStates = JSON.parse(sessionStorage.getItem('search_sortState'));
         if (savedSortStates) {
            sortStates = savedSortStates;
            console.log('sort states found')
            console.log(savedSortStates)
         } else {
            console.log('no current sort state')
         }

         for (let i = 0; i < headers.length; i++) {
            headers[i].addEventListener('click', function () {
               sortTableByColumn(headers[i].id);
            });

            // if there's a saved sort state for this column, sort it on page load
            if (savedSortStates && savedSortStates[i] !== undefined) {
               console.log('resorting table (old sort state found)')
               sortColumn(headers[i].id, savedSortStates[i]);
            }
         }

         console.log('table sorting setup completed')
      }
      function toggleBookmark(gigID, element) {
         const isBookmarked = element.classList.contains('fas');

         const url = isBookmarked ? '/remove_bookmark/' + gigID : '/add_bookmark/' + gigID;
         fetch(url, { method: 'POST' })
            .then(response => response.json())
            .then(data => {
               if (data.status === 'success') {
                  // Toggle the icon class based on the action
                  if (data.action === 'added') {
                     element.classList.remove('far');
                     element.classList.add('fas');
                  } else if (data.action === 'removed') {
                     element.classList.remove('fas');
                     element.classList.add('far');
                  }
                  else if (data.action === 'login') {
                     element.classList.remove('fas');
                     element.classList.add('far');
                  }
               } else {
                  console.error('Error in bookmark action:', data);
               }
            })
            .catch(error => console.error('Error:', error));
      }

      document.addEventListener('DOMContentLoaded', function () {
         setupTableSort();
      });
   </script>



</head>

<body>
   {% include 'header.html' %}
   <section>
      <h1>Make Another Search</h1>
      <!-- Update the form to use WTForms -->
      <form method="POST">
         {{ search_form.hidden_tag() }}
         <div class="flex space-x-10">
            <!-- Render the keyword field using WTForms -->
            {{ search_form.keyword(class_="border border-gray-400 p-2 w-full rounded-lg focus:outline-none
            focus:border-teal-500", placeholder="Search for any gig now!", value=kw) }}

            <!-- Render the category select field using WTForms -->
            {{ search_form.category(class_="border border-gray-200 p-2 rounded-lg focus:outline-none
            focus:border-teal-500", value=cat) }}

            <!-- Render the submit button using WTForms -->
            {{ search_form.submit(class_="p-2 w-auto rounded-lg bg-indigo-200") }}
         </div>
      </form>
   </section>
   <section>
      <h2>Search Results</h2>
      <div class="overflow-auto rounded-lg">
         <table id="resultsTable" class="w-full">
            <thead class="bg-gray-200 border-b-2 border-gray-200">
               <tr>
                  <th id="gigTitle" class="p-3 text-sm font-semibold tracking-wide text-left cursor-pointer">Gig Title
                  </th>
                  <th id="postedOn" class="p-3 text-sm font-semibold tracking-wide text-left cursor-pointer">Posted On
                  </th>
                  <th id="startDate" class="p-3 text-sm font-semibold tracking-wide text-left cursor-pointer">Start Date
                  </th>
                  <th id="endDate" class="p-3 text-sm font-semibold tracking-wide text-left cursor-pointer">End Date
                  </th>
                  <th id="category" class="p-3 text-sm font-semibold tracking-wide text-left cursor-pointer">Category
                  </th>
                  <th></th>
               </tr>
            </thead>
            <tbody class="divide-y divide-gray-150">
               {% for gig in mygigs %}
               {% if not is_banned(gig.get_netid()): %}
               <tr class="bg-gray-100">
                  <td scope="row" class="p-3 text-sm text-gray-700 whitespace-nowrap break-all">
                     <div>
                        <a href="{{ url_for('details', id=gig.get_gigID()) }}"
                           class="font-bold text-blue-500 hover:underline">
                           {{ gig.get_title() }}
                        </a>
                     </div>
                     <div class="text-gray-500">
                        {% set name = author(gig.get_netid()).get_name() %}
                        {% set profileID = profileIDChecker(gig.get_netid()) %}
                        {% if profileID %}
                        <a href="{{ url_for('freelancer_profile', netid=gig.get_netid()) }}"
                           class="text-gray-500 hover:underline">
                           by {{ name }}
                        </a>
                        {% else %}
                        by {{ name }}
                        {% endif %}
                     </div>
                  </td>
                  <td scope="row" class="p-3 text-sm text-gray-700 whitespace-nowrap">{{ gig.get_post_date() }}</td>
                  <td scope="row" class="p-3 text-sm text-gray-700 whitespace-nowrap">{{ gig.get_fromdate() }}</td>
                  <td scope="row" class="p-3 text-sm text-gray-700 whitespace-nowrap">{{ gig.get_til_date() }}</td>
                  <td scope="row" class="p-3 text-sm text-gray-700 whitespace-nowrap">
                     {% if gig.get_category() == 'teaching' %}
                     <span
                        class="p-2 text-xs font-medium uppercase tracking-wider text-blue-800 bg-blue-200 rounded-lg bg-opacity-50">
                        Teaching
                     </span>
                     {% elif gig.get_category() == 'research' %}
                     <span
                        class="p-2 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50">
                        Research
                     </span>
                     {% elif gig.get_category() == 'technical' %}
                     <span
                        class="p-2 text-xs font-medium uppercase tracking-wider text-yellow-800 bg-yellow-200 rounded-lg bg-opacity-50">
                        Technical
                     </span>
                     {% elif gig.get_category() == 'writing' %}
                     <span
                        class="p-2 text-xs font-medium uppercase tracking-wider text-red-800 bg-red-200 rounded-lg bg-opacity-50">
                        Writing
                     </span>
                     {% elif gig.get_category() == 'graphic_design' %}
                     <span
                        class="p-2 text-xs font-medium uppercase tracking-wider text-purple-800 bg-purple-200 rounded-lg bg-opacity-50">
                        Graphic Design
                     </span>
                     {% elif gig.get_category() == 'photography_film' %}
                     <span
                        class="p-2 text-xs font-medium uppercase tracking-wider text-pink-800 bg-pink-200 rounded-lg bg-opacity-50">
                        Photography/Film
                     </span>
                     {% elif gig.get_category() == 'events' %}
                     <span
                        class="p-2 text-xs font-medium uppercase tracking-wider text-indigo-800 bg-indigo-200 rounded-lg bg-opacity-50">
                        Events
                     </span>
                     {% elif gig.get_category() == 'marketing' %}
                     <span
                        class="p-2 text-xs font-medium uppercase tracking-wider text-gray-800 bg-gray-200 rounded-lg bg-opacity-50">
                        Marketing
                     </span>
                     {% elif gig.get_category() == 'administrative' %}
                     <span
                        class="p-2 text-xs font-medium uppercase tracking-wider text-blue-800 bg-blue-200 rounded-lg bg-opacity-50">
                        Administrative
                     </span>
                     {% elif gig.get_category() == 'volunteer' %}
                     <span
                        class="p-2 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50">
                        Volunteer
                     </span>
                     {% elif gig.get_category() == 'fitness' %}
                     <span
                        class="p-2 text-xs font-medium uppercase tracking-wider text-yellow-800 bg-yellow-200 rounded-lg bg-opacity-50">
                        Fitness
                     </span>
                     {% elif gig.get_category() == 'other' %}
                     <span
                        class="p-2 text-xs font-medium uppercase tracking-wider text-red-800 bg-red-200 rounded-lg bg-opacity-50">
                        Other
                     </span>
                     {% endif %}
                  </td>
                  <td class="p-3 text-center">
                     <i class="{{ 'fas' if is_bookmarked(netid, gig.get_gigID()) else 'far' }} fa-bookmark"
                        onclick="toggleBookmark('{{ gig.get_gigID() }}', this)"></i>
                  </td>
               </tr>
               {% endif %}
               {% endfor %}
            </tbody>
         </table>
      </div>
      {% if total_pages > 1 %}
      <div class="flex justify-center space-x-1 mt-4">
         <!-- Always show the first page link and use conditional styling for the current page -->
         <a href="{{ url_for('search_results', page=1, kw=kw, cat=cat) }}"
            class="px-3 py-1 rounded-md {{ 'bg-indigo-600 text-white' if current_page == 1 else 'bg-white text-indigo-600 hover:bg-indigo-100' }}">1</a>
     
         <!-- Show ellipsis if there are pages between the first and the current range start -->
         {% if current_page > 4 %}
             <span class="px-3 py-1">...</span>
         {% endif %}
     
         <!-- Determine the range of page numbers to display -->
         {% set start_page = current_page - 2 if current_page > 3 else 2 %}
         {% set end_page = current_page + 2 if current_page < total_pages - 2 else total_pages - 1 %}
     
         <!-- Display the range of page numbers -->
         {% for page_num in range(start_page, end_page + 1) %}
             <a href="{{ url_for('search_results', page=page_num, kw=kw, cat=cat) }}"
                class="px-3 py-1 rounded-md {{ 'bg-indigo-600 text-white' if page_num == current_page else 'bg-white text-indigo-600 hover:bg-indigo-100' }}">{{ page_num }}</a>
         {% endfor %}
     
         <!-- Show ellipsis if there are pages between the current range end and the last page -->
         {% if current_page < total_pages - 3 %}
             <span class="px-3 py-1">...</span>
         {% endif %}
     
         <!-- Always show the last page link and use conditional styling for the current page -->
         <a href="{{ url_for('search_results', page=total_pages, kw=kw, cat=cat) }}"
            class="px-3 py-1 rounded-md {{ 'bg-indigo-600 text-white' if current_page == total_pages else 'bg-white text-indigo-600 hover:bg-indigo-100' }}">{{ total_pages }}</a>
     </div>
     {% endif %}
     
     
     
   </section>
</body>

</html>